NewFMS/Web References/Bime/BimeSRV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBimeInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="NobatePardakht" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="OrganId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Sh_List" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBimeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBimeInfoResult" type="tns:ArrayOfBime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBime">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Bime" nillable="true" type="tns:Bime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Bime">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TedadMard" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TedadZan" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="J_Mazaya" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="j_motalebat" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="J_Bime_P" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="J_Bime_K" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="j_bime_bikari" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Masir_KAR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Masir_WOR" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KargahId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="sal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="mah" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCityCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCityCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRasteCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RasteName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRasteCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRasteCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateDiscBazneshastegi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WorkerMasir" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OrganId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Sh_Fish" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateVariz" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="NobatePardakht" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateDiscBazneshastegiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateDiscBazneshastegiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBimeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetBimeInfo" />
  </wsdl:message>
  <wsdl:message name="GetBimeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetBimeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCityCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCityCode" />
  </wsdl:message>
  <wsdl:message name="GetCityCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCityCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetRasteCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRasteCode" />
  </wsdl:message>
  <wsdl:message name="GetRasteCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRasteCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateDiscBazneshastegiSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateDiscBazneshastegi" />
  </wsdl:message>
  <wsdl:message name="GenerateDiscBazneshastegiSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateDiscBazneshastegiResponse" />
  </wsdl:message>
  <wsdl:portType name="BimeSRVSoap">
    <wsdl:operation name="GetBimeInfo">
      <wsdl:input message="tns:GetBimeInfoSoapIn" />
      <wsdl:output message="tns:GetBimeInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCityCode">
      <wsdl:input message="tns:GetCityCodeSoapIn" />
      <wsdl:output message="tns:GetCityCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRasteCode">
      <wsdl:input message="tns:GetRasteCodeSoapIn" />
      <wsdl:output message="tns:GetRasteCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDiscBazneshastegi">
      <wsdl:input message="tns:GenerateDiscBazneshastegiSoapIn" />
      <wsdl:output message="tns:GenerateDiscBazneshastegiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BimeSRVSoap" type="tns:BimeSRVSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBimeInfo">
      <soap:operation soapAction="http://tempuri.org/GetBimeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityCode">
      <soap:operation soapAction="http://tempuri.org/GetCityCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRasteCode">
      <soap:operation soapAction="http://tempuri.org/GetRasteCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDiscBazneshastegi">
      <soap:operation soapAction="http://tempuri.org/GenerateDiscBazneshastegi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BimeSRVSoap12" type="tns:BimeSRVSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBimeInfo">
      <soap12:operation soapAction="http://tempuri.org/GetBimeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityCode">
      <soap12:operation soapAction="http://tempuri.org/GetCityCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRasteCode">
      <soap12:operation soapAction="http://tempuri.org/GetRasteCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDiscBazneshastegi">
      <soap12:operation soapAction="http://tempuri.org/GenerateDiscBazneshastegi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BimeSRV">
    <wsdl:port name="BimeSRVSoap" binding="tns:BimeSRVSoap">
      <soap:address location="http://localhost:24204/BimeSRV.asmx" />
    </wsdl:port>
    <wsdl:port name="BimeSRVSoap12" binding="tns:BimeSRVSoap12">
      <soap12:address location="http://localhost:24204/BimeSRV.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>