NewFMS/Web References/WCF_Weigh/WeighService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeighService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.33:8096/WeighService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeighService_GetWeighbridgeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeighbridgeDetail" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetWeighbridgeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeighbridgeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetWeighbridgeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeighbridgeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetWeighbridgeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeighbridgeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertWeighbridge_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertWeighbridge" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertWeighbridge_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertWeighbridgeResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateWeighbridge_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeighbridge" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateWeighbridge_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWeighbridgeResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteWeighbridge_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWeighbridge" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteWeighbridge_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWeighbridgeResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdatePassBaskool_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassBaskool" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdatePassBaskool_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassBaskoolResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetRemittance_HeaderDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemittance_HeaderDetail" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetRemittance_HeaderDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemittance_HeaderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetRemittance_HeaderWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemittance_HeaderWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetRemittance_HeaderWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemittance_HeaderWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertRemittance_Header_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRemittance_Header" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertRemittance_Header_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRemittance_HeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateRemittance_Header_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRemittance_Header" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateRemittance_Header_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRemittance_HeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteRemittance_Header_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRemittance_Header" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteRemittance_Header_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRemittance_HeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetParametrBaskoolValueWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParametrBaskoolValueWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetParametrBaskoolValueWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParametrBaskoolValueWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertParametrBaskoolValue_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertParametrBaskoolValue" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertParametrBaskoolValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertParametrBaskoolValueResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateParametrBaskoolValue_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParametrBaskoolValue" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateParametrBaskoolValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParametrBaskoolValueResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteParametrBaskoolValue_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParametrBaskoolValue" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteParametrBaskoolValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParametrBaskoolValueResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectBaskoolParametr_Value_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectBaskoolParametr_Value" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectBaskoolParametr_Value_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectBaskoolParametr_ValueResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetRemittance_DetailsWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemittance_DetailsWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetRemittance_DetailsWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemittance_DetailsWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetParametrsBaskoolWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParametrsBaskoolWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetParametrsBaskoolWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParametrsBaskoolWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertParametrsBaskool_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertParametrsBaskool" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertParametrsBaskool_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertParametrsBaskoolResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetTozinWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTozinWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetTozinWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTozinWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertTozin_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTozin" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertTozin_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTozinResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetBaskolDocumentWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaskolDocumentWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetBaskolDocumentWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaskolDocumentWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetArzeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArzeDetail" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetArzeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArzeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetArzeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArzeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetArzeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArzeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertArze_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertArze" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertArze_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertArzeResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateArze_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArze" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateArze_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArzeResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteArze_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArze" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteArze_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArzeResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectArze_Kala_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectArze_Kala" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectArze_Kala_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectArze_KalaResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetLoadingPlaceDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoadingPlaceDetail" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetLoadingPlaceDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoadingPlaceDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetLoadingPlaceWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoadingPlaceWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetLoadingPlaceWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoadingPlaceWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertLoadingPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLoadingPlace" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertLoadingPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLoadingPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateLoadingPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLoadingPlace" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateLoadingPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLoadingPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteLoadingPlace_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoadingPlace" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteLoadingPlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLoadingPlaceResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetArze_DetailWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArze_DetailWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetArze_DetailWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArze_DetailWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertArze_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertArze_Detail" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertArze_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertArze_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteArze_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArze_Detail" />
  </wsdl:message>
  <wsdl:message name="IWeighService_DeleteArze_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArze_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetNoeMasrafWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNoeMasrafWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetNoeMasrafWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNoeMasrafWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetVazn_BaskoolWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVazn_BaskoolWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetVazn_BaskoolWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVazn_BaskoolWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertVazn_Baskool_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVazn_Baskool" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertVazn_Baskool_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVazn_BaskoolResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateVazn_Baskool_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVazn_Baskool" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateVazn_Baskool_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVazn_BaskoolResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetRannadeInPlaque_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRannadeInPlaque" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetRannadeInPlaque_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRannadeInPlaqueResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectMandeHavali_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMandeHavali" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectMandeHavali_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMandeHavaliResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectVaznKhals_VaznKhali_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectVaznKhals_VaznKhali" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectVaznKhals_VaznKhali_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectVaznKhals_VaznKhaliResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateIsprintBaskool_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsprintBaskool" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateIsprintBaskool_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsprintBaskoolResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateEbtalBaskool_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEbtalBaskool" />
  </wsdl:message>
  <wsdl:message name="IWeighService_UpdateEbtalBaskool_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEbtalBaskoolResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetTypeReportWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeReportWithFilter" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetTypeReportWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeReportWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertTypeReport_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTypeReport" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertTypeReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTypeReportResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectSumKalaHavale_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumKalaHavale" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectSumKalaHavale_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumKalaHavaleResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectSumKalaHavale_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumKalaHavale_Detail" />
  </wsdl:message>
  <wsdl:message name="IWeighService_SelectSumKalaHavale_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSumKalaHavale_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetElamAvarez_ModuleOrgan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElamAvarez_ModuleOrgan" />
  </wsdl:message>
  <wsdl:message name="IWeighService_GetElamAvarez_ModuleOrgan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElamAvarez_ModuleOrganResponse" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertElamAvarez_ModuleOrgan_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertElamAvarez_ModuleOrgan" />
  </wsdl:message>
  <wsdl:message name="IWeighService_InsertElamAvarez_ModuleOrgan_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertElamAvarez_ModuleOrganResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeighService">
    <wsdl:operation name="GetWeighbridgeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetWeighbridgeDetail" message="tns:IWeighService_GetWeighbridgeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetWeighbridgeDetailResponse" message="tns:IWeighService_GetWeighbridgeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeighbridgeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetWeighbridgeWithFilter" message="tns:IWeighService_GetWeighbridgeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetWeighbridgeWithFilterResponse" message="tns:IWeighService_GetWeighbridgeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertWeighbridge">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertWeighbridge" message="tns:IWeighService_InsertWeighbridge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertWeighbridgeResponse" message="tns:IWeighService_InsertWeighbridge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWeighbridge">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdateWeighbridge" message="tns:IWeighService_UpdateWeighbridge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdateWeighbridgeResponse" message="tns:IWeighService_UpdateWeighbridge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWeighbridge">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/DeleteWeighbridge" message="tns:IWeighService_DeleteWeighbridge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/DeleteWeighbridgeResponse" message="tns:IWeighService_DeleteWeighbridge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassBaskool">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdatePassBaskool" message="tns:IWeighService_UpdatePassBaskool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdatePassBaskoolResponse" message="tns:IWeighService_UpdatePassBaskool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemittance_HeaderDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetRemittance_HeaderDetail" message="tns:IWeighService_GetRemittance_HeaderDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetRemittance_HeaderDetailResponse" message="tns:IWeighService_GetRemittance_HeaderDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemittance_HeaderWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetRemittance_HeaderWithFilter" message="tns:IWeighService_GetRemittance_HeaderWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetRemittance_HeaderWithFilterResponse" message="tns:IWeighService_GetRemittance_HeaderWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRemittance_Header">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertRemittance_Header" message="tns:IWeighService_InsertRemittance_Header_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertRemittance_HeaderResponse" message="tns:IWeighService_InsertRemittance_Header_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRemittance_Header">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdateRemittance_Header" message="tns:IWeighService_UpdateRemittance_Header_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdateRemittance_HeaderResponse" message="tns:IWeighService_UpdateRemittance_Header_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRemittance_Header">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/DeleteRemittance_Header" message="tns:IWeighService_DeleteRemittance_Header_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/DeleteRemittance_HeaderResponse" message="tns:IWeighService_DeleteRemittance_Header_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParametrBaskoolValueWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetParametrBaskoolValueWithFilter" message="tns:IWeighService_GetParametrBaskoolValueWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetParametrBaskoolValueWithFilterResponse" message="tns:IWeighService_GetParametrBaskoolValueWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertParametrBaskoolValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertParametrBaskoolValue" message="tns:IWeighService_InsertParametrBaskoolValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertParametrBaskoolValueResponse" message="tns:IWeighService_InsertParametrBaskoolValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateParametrBaskoolValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdateParametrBaskoolValue" message="tns:IWeighService_UpdateParametrBaskoolValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdateParametrBaskoolValueResponse" message="tns:IWeighService_UpdateParametrBaskoolValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteParametrBaskoolValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/DeleteParametrBaskoolValue" message="tns:IWeighService_DeleteParametrBaskoolValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/DeleteParametrBaskoolValueResponse" message="tns:IWeighService_DeleteParametrBaskoolValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectBaskoolParametr_Value">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/SelectBaskoolParametr_Value" message="tns:IWeighService_SelectBaskoolParametr_Value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/SelectBaskoolParametr_ValueResponse" message="tns:IWeighService_SelectBaskoolParametr_Value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemittance_DetailsWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetRemittance_DetailsWithFilter" message="tns:IWeighService_GetRemittance_DetailsWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetRemittance_DetailsWithFilterResponse" message="tns:IWeighService_GetRemittance_DetailsWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParametrsBaskoolWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetParametrsBaskoolWithFilter" message="tns:IWeighService_GetParametrsBaskoolWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetParametrsBaskoolWithFilterResponse" message="tns:IWeighService_GetParametrsBaskoolWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertParametrsBaskool">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertParametrsBaskool" message="tns:IWeighService_InsertParametrsBaskool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertParametrsBaskoolResponse" message="tns:IWeighService_InsertParametrsBaskool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTozinWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetTozinWithFilter" message="tns:IWeighService_GetTozinWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetTozinWithFilterResponse" message="tns:IWeighService_GetTozinWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTozin">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertTozin" message="tns:IWeighService_InsertTozin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertTozinResponse" message="tns:IWeighService_InsertTozin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaskolDocumentWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetBaskolDocumentWithFilter" message="tns:IWeighService_GetBaskolDocumentWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetBaskolDocumentWithFilterResponse" message="tns:IWeighService_GetBaskolDocumentWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArzeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetArzeDetail" message="tns:IWeighService_GetArzeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetArzeDetailResponse" message="tns:IWeighService_GetArzeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArzeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetArzeWithFilter" message="tns:IWeighService_GetArzeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetArzeWithFilterResponse" message="tns:IWeighService_GetArzeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertArze">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertArze" message="tns:IWeighService_InsertArze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertArzeResponse" message="tns:IWeighService_InsertArze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArze">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdateArze" message="tns:IWeighService_UpdateArze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdateArzeResponse" message="tns:IWeighService_UpdateArze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArze">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/DeleteArze" message="tns:IWeighService_DeleteArze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/DeleteArzeResponse" message="tns:IWeighService_DeleteArze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectArze_Kala">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/SelectArze_Kala" message="tns:IWeighService_SelectArze_Kala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/SelectArze_KalaResponse" message="tns:IWeighService_SelectArze_Kala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoadingPlaceDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetLoadingPlaceDetail" message="tns:IWeighService_GetLoadingPlaceDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetLoadingPlaceDetailResponse" message="tns:IWeighService_GetLoadingPlaceDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoadingPlaceWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetLoadingPlaceWithFilter" message="tns:IWeighService_GetLoadingPlaceWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetLoadingPlaceWithFilterResponse" message="tns:IWeighService_GetLoadingPlaceWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLoadingPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertLoadingPlace" message="tns:IWeighService_InsertLoadingPlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertLoadingPlaceResponse" message="tns:IWeighService_InsertLoadingPlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLoadingPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdateLoadingPlace" message="tns:IWeighService_UpdateLoadingPlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdateLoadingPlaceResponse" message="tns:IWeighService_UpdateLoadingPlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLoadingPlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/DeleteLoadingPlace" message="tns:IWeighService_DeleteLoadingPlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/DeleteLoadingPlaceResponse" message="tns:IWeighService_DeleteLoadingPlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArze_DetailWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetArze_DetailWithFilter" message="tns:IWeighService_GetArze_DetailWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetArze_DetailWithFilterResponse" message="tns:IWeighService_GetArze_DetailWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertArze_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertArze_Detail" message="tns:IWeighService_InsertArze_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertArze_DetailResponse" message="tns:IWeighService_InsertArze_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArze_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/DeleteArze_Detail" message="tns:IWeighService_DeleteArze_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/DeleteArze_DetailResponse" message="tns:IWeighService_DeleteArze_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNoeMasrafWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetNoeMasrafWithFilter" message="tns:IWeighService_GetNoeMasrafWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetNoeMasrafWithFilterResponse" message="tns:IWeighService_GetNoeMasrafWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVazn_BaskoolWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetVazn_BaskoolWithFilter" message="tns:IWeighService_GetVazn_BaskoolWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetVazn_BaskoolWithFilterResponse" message="tns:IWeighService_GetVazn_BaskoolWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertVazn_Baskool">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertVazn_Baskool" message="tns:IWeighService_InsertVazn_Baskool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertVazn_BaskoolResponse" message="tns:IWeighService_InsertVazn_Baskool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVazn_Baskool">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdateVazn_Baskool" message="tns:IWeighService_UpdateVazn_Baskool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdateVazn_BaskoolResponse" message="tns:IWeighService_UpdateVazn_Baskool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRannadeInPlaque">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetRannadeInPlaque" message="tns:IWeighService_GetRannadeInPlaque_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetRannadeInPlaqueResponse" message="tns:IWeighService_GetRannadeInPlaque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMandeHavali">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/SelectMandeHavali" message="tns:IWeighService_SelectMandeHavali_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/SelectMandeHavaliResponse" message="tns:IWeighService_SelectMandeHavali_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectVaznKhals_VaznKhali">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/SelectVaznKhals_VaznKhali" message="tns:IWeighService_SelectVaznKhals_VaznKhali_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/SelectVaznKhals_VaznKhaliResponse" message="tns:IWeighService_SelectVaznKhals_VaznKhali_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsprintBaskool">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdateIsprintBaskool" message="tns:IWeighService_UpdateIsprintBaskool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdateIsprintBaskoolResponse" message="tns:IWeighService_UpdateIsprintBaskool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEbtalBaskool">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/UpdateEbtalBaskool" message="tns:IWeighService_UpdateEbtalBaskool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/UpdateEbtalBaskoolResponse" message="tns:IWeighService_UpdateEbtalBaskool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeReportWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetTypeReportWithFilter" message="tns:IWeighService_GetTypeReportWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetTypeReportWithFilterResponse" message="tns:IWeighService_GetTypeReportWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTypeReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertTypeReport" message="tns:IWeighService_InsertTypeReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertTypeReportResponse" message="tns:IWeighService_InsertTypeReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSumKalaHavale">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/SelectSumKalaHavale" message="tns:IWeighService_SelectSumKalaHavale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/SelectSumKalaHavaleResponse" message="tns:IWeighService_SelectSumKalaHavale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSumKalaHavale_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/SelectSumKalaHavale_Detail" message="tns:IWeighService_SelectSumKalaHavale_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/SelectSumKalaHavale_DetailResponse" message="tns:IWeighService_SelectSumKalaHavale_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElamAvarez_ModuleOrgan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/GetElamAvarez_ModuleOrgan" message="tns:IWeighService_GetElamAvarez_ModuleOrgan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/GetElamAvarez_ModuleOrganResponse" message="tns:IWeighService_GetElamAvarez_ModuleOrgan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertElamAvarez_ModuleOrgan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeighService/InsertElamAvarez_ModuleOrgan" message="tns:IWeighService_InsertElamAvarez_ModuleOrgan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeighService/InsertElamAvarez_ModuleOrganResponse" message="tns:IWeighService_InsertElamAvarez_ModuleOrgan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeighService" type="tns:IWeighService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeighbridgeDetail">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetWeighbridgeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeighbridgeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetWeighbridgeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWeighbridge">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertWeighbridge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWeighbridge">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdateWeighbridge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWeighbridge">
      <soap:operation soapAction="http://tempuri.org/IWeighService/DeleteWeighbridge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassBaskool">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdatePassBaskool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemittance_HeaderDetail">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetRemittance_HeaderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemittance_HeaderWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetRemittance_HeaderWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRemittance_Header">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertRemittance_Header" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRemittance_Header">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdateRemittance_Header" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRemittance_Header">
      <soap:operation soapAction="http://tempuri.org/IWeighService/DeleteRemittance_Header" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParametrBaskoolValueWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetParametrBaskoolValueWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertParametrBaskoolValue">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertParametrBaskoolValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateParametrBaskoolValue">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdateParametrBaskoolValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParametrBaskoolValue">
      <soap:operation soapAction="http://tempuri.org/IWeighService/DeleteParametrBaskoolValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectBaskoolParametr_Value">
      <soap:operation soapAction="http://tempuri.org/IWeighService/SelectBaskoolParametr_Value" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemittance_DetailsWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetRemittance_DetailsWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParametrsBaskoolWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetParametrsBaskoolWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertParametrsBaskool">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertParametrsBaskool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTozinWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetTozinWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTozin">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertTozin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaskolDocumentWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetBaskolDocumentWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArzeDetail">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetArzeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArzeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetArzeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertArze">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertArze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArze">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdateArze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArze">
      <soap:operation soapAction="http://tempuri.org/IWeighService/DeleteArze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectArze_Kala">
      <soap:operation soapAction="http://tempuri.org/IWeighService/SelectArze_Kala" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoadingPlaceDetail">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetLoadingPlaceDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoadingPlaceWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetLoadingPlaceWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLoadingPlace">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertLoadingPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoadingPlace">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdateLoadingPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLoadingPlace">
      <soap:operation soapAction="http://tempuri.org/IWeighService/DeleteLoadingPlace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArze_DetailWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetArze_DetailWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertArze_Detail">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertArze_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArze_Detail">
      <soap:operation soapAction="http://tempuri.org/IWeighService/DeleteArze_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNoeMasrafWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetNoeMasrafWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVazn_BaskoolWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetVazn_BaskoolWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVazn_Baskool">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertVazn_Baskool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVazn_Baskool">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdateVazn_Baskool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRannadeInPlaque">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetRannadeInPlaque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMandeHavali">
      <soap:operation soapAction="http://tempuri.org/IWeighService/SelectMandeHavali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectVaznKhals_VaznKhali">
      <soap:operation soapAction="http://tempuri.org/IWeighService/SelectVaznKhals_VaznKhali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIsprintBaskool">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdateIsprintBaskool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEbtalBaskool">
      <soap:operation soapAction="http://tempuri.org/IWeighService/UpdateEbtalBaskool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeReportWithFilter">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetTypeReportWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTypeReport">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertTypeReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSumKalaHavale">
      <soap:operation soapAction="http://tempuri.org/IWeighService/SelectSumKalaHavale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectSumKalaHavale_Detail">
      <soap:operation soapAction="http://tempuri.org/IWeighService/SelectSumKalaHavale_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElamAvarez_ModuleOrgan">
      <soap:operation soapAction="http://tempuri.org/IWeighService/GetElamAvarez_ModuleOrgan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertElamAvarez_ModuleOrgan">
      <soap:operation soapAction="http://tempuri.org/IWeighService/InsertElamAvarez_ModuleOrgan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeighService">
    <wsdl:port name="BasicHttpBinding_IWeighService" binding="tns:BasicHttpBinding_IWeighService">
      <soap:address location="http://192.168.1.33:8096/WeighService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>