NewFMS/Web References/WCF_Weigh/WeighService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetWeighbridgeDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeighbridgeDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetWeighbridgeDetailResult" type="tns:OBJ_Weighbridge" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_Weighbridge">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasHoghoghiId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldAddress" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameAshkhasHoghoghi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldShenaseMelli" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldPassword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Msg" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorType" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutputId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutputId2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetWeighbridgeWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeighbridgeWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetWeighbridgeWithFilterResult" type="tns:ArrayOfOBJ_Weighbridge" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Weighbridge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Weighbridge" nillable="true" type="tns:OBJ_Weighbridge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertWeighbridge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasHoghoghiId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldAddress" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldPassword" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWeighbridgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertWeighbridgeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWeighbridge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasHoghoghiId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldAddress" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWeighbridgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateWeighbridgeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWeighbridge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWeighbridgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteWeighbridgeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassBaskool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="newpass" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassBaskoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdatePassBaskoolResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemittance_HeaderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemittance_HeaderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRemittance_HeaderDetailResult" type="tns:OBJ_Remittance_Header" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_Remittance_Header">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasiId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldStatus" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldStartDate" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldEndDate" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldStatusName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldKalaName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTypeShakhs" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldFamilyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldCodemeli" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameChart" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameAshkhas_Chart" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldEmployId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldChartOrganEjraeeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameNoeHavale" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameTahvilGirande" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldFileId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRemittance_HeaderWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemittance_HeaderWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRemittance_HeaderWithFilterResult" type="tns:ArrayOfOBJ_Remittance_Header" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Remittance_Header">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Remittance_Header" nillable="true" type="tns:OBJ_Remittance_Header" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertRemittance_Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasiId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldStatus" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldFile" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldPassvand" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldStartDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldEndDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="detail">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="DescHeader" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganizationalUint" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Receiver" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRemittance_HeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertRemittance_HeaderResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRemittance_Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldHeaderId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasiId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldStatus" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldStartDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldEndDate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldFile" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldPassvand" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldFileId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="detail">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="DescHeader" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganizationalUint" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Receiver" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRemittance_HeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateRemittance_HeaderResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRemittance_Header">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRemittance_HeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteRemittance_HeaderResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametrBaskoolValueWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametrBaskoolValueWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetParametrBaskoolValueWithFilterResult" type="tns:ArrayOfOBJ_ParametrBaskoolValue" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_ParametrBaskoolValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_ParametrBaskoolValue" nillable="true" type="tns:OBJ_ParametrBaskoolValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_ParametrBaskoolValue">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldParametrBaskoolId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldValue" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertParametrBaskoolValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldParametrBaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldValue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParametrBaskoolValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertParametrBaskoolValueResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParametrBaskoolValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldParametrBaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldValue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParametrBaskoolValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateParametrBaskoolValueResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParametrBaskoolValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParametrBaskoolValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteParametrBaskoolValueResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBaskoolParametr_Value">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="BaskoolId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBaskoolParametr_ValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectBaskoolParametr_ValueResult" type="tns:ArrayOfOBJ_BaskoolParametr_Value" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_BaskoolParametr_Value">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_BaskoolParametr_Value" nillable="true" type="tns:OBJ_BaskoolParametr_Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_BaskoolParametr_Value">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldid" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldFaName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldEnName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldParam_ValueId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRemittance_DetailsWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemittance_DetailsWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRemittance_DetailsWithFilterResult" type="tns:ArrayOfOBJ_Remittance_Details" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Remittance_Details">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Remittance_Details" nillable="true" type="tns:OBJ_Remittance_Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_Remittance_Details">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldRemittanceId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldKalaId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldMaxTon" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldControlLimit" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldKalaName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitleHeader" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldExistsVazn" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetParametrsBaskoolWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametrsBaskoolWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetParametrsBaskoolWithFilterResult" type="tns:ArrayOfOBJ_ParametrsBaskool" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_ParametrsBaskool">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_ParametrsBaskool" nillable="true" type="tns:OBJ_ParametrsBaskool" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_ParametrsBaskool">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldEnName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldFaName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertParametrsBaskool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EnName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FaName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParametrsBaskoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertParametrsBaskoolResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTozinWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue2" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AzTarikh" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TaTarikh" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTozinWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTozinWithFilterResult" type="tns:ArrayOfOBJ_Tozin" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Tozin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Tozin" nillable="true" type="tns:OBJ_Tozin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_Tozin">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldWeighbridgeId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMaxW" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldPlaqueId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldHour" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldStartDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldEndDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldPlaque" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameBaskool" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhShoroo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhPayan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldSaat" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertTozin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldWeighbridgeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldMaxW" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldPlaqueId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldHour" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldStartDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldEndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTozinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertTozinResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaskolDocumentWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaskolDocumentWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetBaskolDocumentWithFilterResult" type="tns:ArrayOfOBJ_BaskolDocument" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_BaskolDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_BaskolDocument" nillable="true" type="tns:OBJ_BaskolDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_BaskolDocument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTozinId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldFileId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldPasvand" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetArzeDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArzeDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetArzeDetailResult" type="tns:OBJ_Arze" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_Arze">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldKalaId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldShomareHesabCodeDaramadId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameKala" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDaramadCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDaramadTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTedad" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMablagh" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldOrganName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldStatusForoosh" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldStatusForooshName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldVaznVahed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetArzeWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArzeWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetArzeWithFilterResult" type="tns:ArrayOfOBJ_Arze" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Arze">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Arze" nillable="true" type="tns:OBJ_Arze" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertArze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldKalaId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShomareHesabCodeDaramadId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Tedad" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="Mablagh" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganizationId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldVaznVahed" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArzeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertArzeResult" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldKalaId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShomareHesabCodeDaramadId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Tedad" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="Mablagh" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganizationId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldVaznVahed" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArzeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateArzeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArzeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteArzeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectArze_Kala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="BaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectArze_KalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectArze_KalaResult" type="tns:ArrayOfOBJ_Arze_Kala" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Arze_Kala">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Arze_Kala" nillable="true" type="tns:OBJ_Arze_Kala" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_Arze_Kala">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldKalaId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldCodeDaramadId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldParametrSabetDaramadId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldSharheCodeDaramad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameParametreFa" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldKalaName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameWeighbridge" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldShomareHesabCodeDaramadId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLoadingPlaceDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadingPlaceDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLoadingPlaceDetailResult" type="tns:OBJ_LoadingPlace" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_LoadingPlace">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetLoadingPlaceWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadingPlaceWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLoadingPlaceWithFilterResult" type="tns:ArrayOfOBJ_LoadingPlace" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_LoadingPlace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_LoadingPlace" nillable="true" type="tns:OBJ_LoadingPlace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertLoadingPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLoadingPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertLoadingPlaceResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoadingPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLoadingPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateLoadingPlaceResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoadingPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLoadingPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteLoadingPlaceResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArze_DetailWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArze_DetailWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetArze_DetailWithFilterResult" type="tns:ArrayOfOBJ_Arze_Detail" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Arze_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Arze_Detail" nillable="true" type="tns:OBJ_Arze_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_Arze_Detail">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldHeaderId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldParametrSabetCodeDaramd" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldValue" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldFlag" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameParametreEn" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameParametreFa" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldValue_Arze" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertArze_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldHeaderId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldParametrSabetCodeDaramd" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldFlag" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArze_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertArze_DetailResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArze_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArze_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteArze_DetailResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoeMasrafWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoeMasrafWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetNoeMasrafWithFilterResult" type="tns:ArrayOfOBJ_NoeMasraf" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_NoeMasraf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_NoeMasraf" nillable="true" type="tns:OBJ_NoeMasraf" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_NoeMasraf">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetVazn_BaskoolWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ModuleId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVazn_BaskoolWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetVazn_BaskoolWithFilterResult" type="tns:ArrayOfOBJ_Vazn_Baskool" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Vazn_Baskool">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Vazn_Baskool" nillable="true" type="tns:OBJ_Vazn_Baskool" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_Vazn_Baskool">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldPluqeId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldRananadeId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldNoeMasrafId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldChartOrganEjraeeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldLoadingPlaceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDateTazin" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldKalaId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldVaznKol" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldVaznKhals" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldRemittanceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhVaznKhali" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameRanande" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameKala" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNamePlace" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldPlaque" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikh_TimeTozin" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIsPor" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIsporName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTypeKhodroId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameKhodro" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameAshkhas" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameChart" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameHavale" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameMasraf" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarfHesab" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIsprint" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldEbtal" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTedad" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldElamAvarezId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldFishId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsKhali" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldVaznKhali" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldCountHavale" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBaghimande" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTypeMohasebe" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="lastHour" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertVazn_Baskool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="harf" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldPlaque2" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="fldPlaque3" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="serial" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganizationId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldRananadeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldNoeMasrafId" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldChartOrganEjraeeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldLoadingPlaceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldKalaId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldVaznKol" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldRemittanceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldIsPor" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldTypeKhodroId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldTedad" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldTypeMohasebe" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVazn_BaskoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertVazn_BaskoolResult" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVazn_Baskool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="PlaqueId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganizationId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldRananadeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldNoeMasrafId" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldChartOrganEjraeeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldLoadingPlaceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldKalaId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldVaznKol" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldRemittanceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldIsPor" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldTypeKhodroId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldTedad" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldTypeMohasebe" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVazn_BaskoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateVazn_BaskoolResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRannadeInPlaque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Serial" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="Harf" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Plaque2" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Plaque3" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="BaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRannadeInPlaqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRannadeInPlaqueResult" type="tns:ArrayOfOBJ_Vazn_Baskool" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMandeHavali">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="HavaleId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="KalaId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="BaskoolId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMandeHavaliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectMandeHavaliResult" type="tns:ArrayOfOBJ_Vazn_Baskool" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVaznKhals_VaznKhali">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Serial" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="Harf" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Plaque2" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Plaque3" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="BaskoolId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="VaznKol" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="TypeMohasebe" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVaznKhals_VaznKhaliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectVaznKhals_VaznKhaliResult" type="tns:ArrayOfOBJ_Vazn_Baskool" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsprintBaskool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIsprintBaskoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateIsprintBaskoolResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEbtalBaskool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEbtalBaskoolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateEbtalBaskoolResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeReportWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue2" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeReportWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTypeReportWithFilterResult" type="tns:ArrayOfOBJ_TypeReport" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_TypeReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_TypeReport" nillable="true" type="tns:OBJ_TypeReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_TypeReport">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldType" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTypeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertTypeReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldType" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldBaskoolId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTypeReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertTypeReportResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSumKalaHavale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="HavaleId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSumKalaHavaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectSumKalaHavaleResult" type="tns:ArrayOfOBJ_KalaHavale" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_KalaHavale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_KalaHavale" nillable="true" type="tns:OBJ_KalaHavale" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_KalaHavale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameKala" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMaxTon" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldSumKala" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBaghimande" nillable="true" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldKalaid" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameHeader" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectSumKalaHavale_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="HavaleId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="IdKala" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSumKalaHavale_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectSumKalaHavale_DetailResult" type="tns:ArrayOfOBJ_SumKalaHavale_Detail" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_SumKalaHavale_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_SumKalaHavale_Detail" nillable="true" type="tns:OBJ_SumKalaHavale_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_SumKalaHavale_Detail">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldVaznKol" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldVaznKhals" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldRemittanceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhVaznKhali" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameRanande" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameKala" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNamePlace" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldPlaque" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikh_TimeTozin" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIsporName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldVaznKhali" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameKhodro" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameHavale" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameBaskool" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetElamAvarez_ModuleOrgan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElamAvarez_ModuleOrganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetElamAvarez_ModuleOrganResult" type="tns:ArrayOfOBJ_ElameAvarez_ModuleOrgan" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_ElameAvarez_ModuleOrgan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_ElameAvarez_ModuleOrgan" nillable="true" type="tns:OBJ_ElameAvarez_ModuleOrgan" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_ElameAvarez_ModuleOrgan">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldElamAvarezId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldCodeDaramdElamAvarezId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldModulOrganId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertElamAvarez_ModuleOrgan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldElamAvarezId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldCodeDaramdElamAvarezId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertElamAvarez_ModuleOrganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertElamAvarez_ModuleOrganResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>