NewFMS/Web References/WCF_Contract/ContractService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContractService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8089/ContractService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContractService_GetRegistrationContractDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationContractDetail" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetRegistrationContractDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationContractDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetRegistrationContractWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationContractWithFilter" />
  </wsdl:message>
  <wsdl:message name="IContractService_GetRegistrationContractWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationContractWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_InsertRegistrationContract_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRegistrationContract" />
  </wsdl:message>
  <wsdl:message name="IContractService_InsertRegistrationContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRegistrationContractResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_UpdateRegistrationContract_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationContract" />
  </wsdl:message>
  <wsdl:message name="IContractService_UpdateRegistrationContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRegistrationContractResponse" />
  </wsdl:message>
  <wsdl:message name="IContractService_DeleteRegistrationContract_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegistrationContract" />
  </wsdl:message>
  <wsdl:message name="IContractService_DeleteRegistrationContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegistrationContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IContractService">
    <wsdl:operation name="GetRegistrationContractDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/GetRegistrationContractDetail" message="tns:IContractService_GetRegistrationContractDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/GetRegistrationContractDetailResponse" message="tns:IContractService_GetRegistrationContractDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationContractWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/GetRegistrationContractWithFilter" message="tns:IContractService_GetRegistrationContractWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/GetRegistrationContractWithFilterResponse" message="tns:IContractService_GetRegistrationContractWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRegistrationContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/InsertRegistrationContract" message="tns:IContractService_InsertRegistrationContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/InsertRegistrationContractResponse" message="tns:IContractService_InsertRegistrationContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/UpdateRegistrationContract" message="tns:IContractService_UpdateRegistrationContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/UpdateRegistrationContractResponse" message="tns:IContractService_UpdateRegistrationContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRegistrationContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IContractService/DeleteRegistrationContract" message="tns:IContractService_DeleteRegistrationContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContractService/DeleteRegistrationContractResponse" message="tns:IContractService_DeleteRegistrationContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContractService" type="tns:IContractService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegistrationContractDetail">
      <soap:operation soapAction="http://tempuri.org/IContractService/GetRegistrationContractDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationContractWithFilter">
      <soap:operation soapAction="http://tempuri.org/IContractService/GetRegistrationContractWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRegistrationContract">
      <soap:operation soapAction="http://tempuri.org/IContractService/InsertRegistrationContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRegistrationContract">
      <soap:operation soapAction="http://tempuri.org/IContractService/UpdateRegistrationContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegistrationContract">
      <soap:operation soapAction="http://tempuri.org/IContractService/DeleteRegistrationContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractService">
    <wsdl:port name="BasicHttpBinding_IContractService" binding="tns:BasicHttpBinding_IContractService">
      <soap:address location="http://localhost:8089/ContractService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>