NewFMS/Web References/WCF_Contract/ContractService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetRegistrationContractDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationContractDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRegistrationContractDetailResult" type="tns:OBJ_RegistrationContract" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_RegistrationContract">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldWarrantyId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldRoleOrgan" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldRoleOrgan_Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitleContract" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldSuplyMaterialsType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldSuplyMaterialsType_Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldAmountContract" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikh" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldShobeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldSepamNum" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhEtmam" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldStartContract" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldEndContract" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldIp" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldWarentytype_Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldCodeMelli" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldName_Shakhs" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldName_Shobe" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldCodeSHobe" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBankId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldBankName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorType" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRegistrationContractWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationContractWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRegistrationContractWithFilterResult" type="tns:ArrayOfOBJ_RegistrationContract" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_RegistrationContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_RegistrationContract" nillable="true" type="tns:OBJ_RegistrationContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertRegistrationContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="WarrantyId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="RoleOrgan" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="TitleContract" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AshkhasId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SuplyMaterialsType" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="AmountContract" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Number" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Tarikh" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShobeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="SepamNum" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhEtmam" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StartContract" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EndContract" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRegistrationContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertRegistrationContractResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegistrationContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="WarrantyId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="RoleOrgan" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="TitleContract" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AshkhasId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="SuplyMaterialsType" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="AmountContract" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Number" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Tarikh" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShobeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="SepamNum" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhEtmam" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StartContract" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EndContract" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegistrationContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateRegistrationContractResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegistrationContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegistrationContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteRegistrationContractResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>