NewFMS/Web References/WCF_AnbarAmval/AnbarAmvalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AnbarAmvalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetInsuranceTypeDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetInsuranceTypeDetailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetInsuranceTypeDetailResult" type="tns:OBJ_InsuranceType" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="OBJ_InsuranceType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ClsError">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Msg" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ErrorType" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="OutputId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="OutputId2" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetInsuranceTypeWithFilter">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetInsuranceTypeWithFilterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetInsuranceTypeWithFilterResult" type="tns:ArrayOfOBJ_InsuranceType" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_InsuranceType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_InsuranceType" nillable="true" type="tns:OBJ_InsuranceType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InsertInsuranceType">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertInsuranceTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertInsuranceTypeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateInsuranceType">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateInsuranceTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdateInsuranceTypeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteInsuranceType">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteInsuranceTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DeleteInsuranceTypeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetInsuranceCompanyDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetInsuranceCompanyDetailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetInsuranceCompanyDetailResult" type="tns:OBJ_InsuranceCompany" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="OBJ_InsuranceCompany">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldFileId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetInsuranceCompanyWithFilter">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetInsuranceCompanyWithFilterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetInsuranceCompanyWithFilterResult" type="tns:ArrayOfOBJ_InsuranceCompany" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_InsuranceCompany">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_InsuranceCompany" nillable="true" type="tns:OBJ_InsuranceCompany" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InsertInsuranceCompany">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="File" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="1" name="Pasvand" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertInsuranceCompanyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertInsuranceCompanyResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateInsuranceCompany">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="FileId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="File" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="1" name="Pasvand" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateInsuranceCompanyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdateInsuranceCompanyResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteInsuranceCompany">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteInsuranceCompanyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DeleteInsuranceCompanyResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarDetailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAnbarDetailResult" type="tns:OBJ_Anbar" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="OBJ_Anbar">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldPhone" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetAnbarWithFilter">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarWithFilterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAnbarWithFilterResult" type="tns:ArrayOfOBJ_Anbar" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_Anbar">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Anbar" nillable="true" type="tns:OBJ_Anbar" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InsertAnbar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AnbarTreeId" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertAnbarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertAnbarResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateAnbar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Address" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AnbarTreeId" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateAnbarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdateAnbarResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnbar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnbarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DeleteAnbarResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePID_Anbar">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Child" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="Parent" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePID_AnbarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdatePID_AnbarResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePID_Anbar_Tree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Anbar_TreeId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="Parent" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePID_Anbar_TreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdatePID_Anbar_TreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePID_kala">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Child" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="Parent" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePID_kalaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdatePID_kalaResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarTreeDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarTreeDetailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAnbarTreeDetailResult" type="tns:OBJ_AnbarTree" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="OBJ_AnbarTree">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldPID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldNodeType" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldGroupId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldAnbar_treeId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetAnbarTreeWithFilter">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue2" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarTreeWithFilterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAnbarTreeWithFilterResult" type="tns:ArrayOfOBJ_AnbarTree" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_AnbarTree">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_AnbarTree" nillable="true" type="tns:OBJ_AnbarTree" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InsertAnbarTree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="PID" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="GroupId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertAnbarTreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertAnbarTreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateAnbarTree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="GroupId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateAnbarTreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdateAnbarTreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnbarTree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnbarTreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DeleteAnbarTreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetKalaTreeDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetKalaTreeDetailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetKalaTreeDetailResult" type="tns:OBJ_KalaTree" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="OBJ_KalaTree">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldPID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldNodeType" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldGroupId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetKalaTreeWithFilter">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue2" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetKalaTreeWithFilterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetKalaTreeWithFilterResult" type="tns:ArrayOfOBJ_KalaTree" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_KalaTree">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_KalaTree" nillable="true" type="tns:OBJ_KalaTree" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InsertKalaTree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="PID" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="GroupId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertKalaTreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertKalaTreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateKalaTree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="GroupId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateKalaTreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdateKalaTreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteKalaTree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteKalaTreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DeleteKalaTreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarGroupDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarGroupDetailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAnbarGroupDetailResult" type="tns:OBJ_AnbarGroup" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="OBJ_AnbarGroup">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetAnbarGroupWithFilter">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbarGroupWithFilterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAnbarGroupWithFilterResult" type="tns:ArrayOfOBJ_AnbarGroup" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_AnbarGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_AnbarGroup" nillable="true" type="tns:OBJ_AnbarGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InsertAnbarGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertAnbarGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertAnbarGroupResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateAnbarGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateAnbarGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdateAnbarGroupResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnbarGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnbarGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DeleteAnbarGroupResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetKalaGroupDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetKalaGroupDetailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetKalaGroupDetailResult" type="tns:OBJ_KalaGroup" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="OBJ_KalaGroup">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldIP" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetKalaGroupWithFilter">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetKalaGroupWithFilterResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetKalaGroupWithFilterResult" type="tns:ArrayOfOBJ_KalaGroup" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_KalaGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_KalaGroup" nillable="true" type="tns:OBJ_KalaGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="InsertKalaGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertKalaGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertKalaGroupResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateKalaGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateKalaGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UpdateKalaGroupResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteKalaGroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteKalaGroupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DeleteKalaGroupResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertAnbar_Tree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="AnbarId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="AnbarTreeId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertAnbar_TreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertAnbar_TreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnbar_Tree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteAnbar_TreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DeleteAnbar_TreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertKala_Tree">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="KalaId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="KalaTreeId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InsertKala_TreeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="InsertKala_TreeResult" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Getkala_TarifNashode">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GorupId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Getkala_TarifNashodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Getkala_TarifNashodeResult" type="tns:ArrayOfOBJ_kala_TarifNashode" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_kala_TarifNashode">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_kala_TarifNashode" nillable="true" type="tns:OBJ_kala_TarifNashode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OBJ_kala_TarifNashode">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="kalaId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetAnbar_TarifNashode">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GorupId" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAnbar_TarifNashodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetAnbar_TarifNashodeResult" type="tns:ArrayOfOBJ_Anbar_TarifNashode" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfOBJ_Anbar_TarifNashode">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Anbar_TarifNashode" nillable="true" type="tns:OBJ_Anbar_TarifNashode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OBJ_Anbar_TarifNashode">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AnbarId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="fldName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IAnbarAmvalService_GetInsuranceTypeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceTypeDetail" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetInsuranceTypeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceTypeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetInsuranceTypeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceTypeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetInsuranceTypeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceTypeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertInsuranceType_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertInsuranceType" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertInsuranceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertInsuranceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateInsuranceType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsuranceType" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateInsuranceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsuranceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteInsuranceType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInsuranceType" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteInsuranceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInsuranceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetInsuranceCompanyDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceCompanyDetail" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetInsuranceCompanyDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceCompanyDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetInsuranceCompanyWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceCompanyWithFilter" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetInsuranceCompanyWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceCompanyWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertInsuranceCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertInsuranceCompany" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertInsuranceCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertInsuranceCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateInsuranceCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsuranceCompany" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateInsuranceCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInsuranceCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteInsuranceCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInsuranceCompany" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteInsuranceCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInsuranceCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarDetail" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarWithFilter" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertAnbar_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnbar" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertAnbar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnbarResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateAnbar_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnbar" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateAnbar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnbarResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteAnbar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnbar" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteAnbar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnbarResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdatePID_Anbar_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePID_Anbar" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdatePID_Anbar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePID_AnbarResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdatePID_Anbar_Tree_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePID_Anbar_Tree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdatePID_Anbar_Tree_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePID_Anbar_TreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdatePID_kala_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePID_kala" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdatePID_kala_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePID_kalaResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarTreeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarTreeDetail" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarTreeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarTreeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarTreeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarTreeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarTreeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarTreeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertAnbarTree_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnbarTree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertAnbarTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnbarTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateAnbarTree_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnbarTree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateAnbarTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnbarTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteAnbarTree_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnbarTree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteAnbarTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnbarTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetKalaTreeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKalaTreeDetail" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetKalaTreeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKalaTreeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetKalaTreeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKalaTreeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetKalaTreeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKalaTreeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertKalaTree_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKalaTree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertKalaTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKalaTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateKalaTree_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKalaTree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateKalaTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKalaTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteKalaTree_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKalaTree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteKalaTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKalaTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarGroupDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarGroupDetail" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarGroupDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarGroupDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarGroupWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarGroupWithFilter" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbarGroupWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbarGroupWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertAnbarGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnbarGroup" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertAnbarGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnbarGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateAnbarGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnbarGroup" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateAnbarGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnbarGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteAnbarGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnbarGroup" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteAnbarGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnbarGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetKalaGroupDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKalaGroupDetail" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetKalaGroupDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKalaGroupDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetKalaGroupWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKalaGroupWithFilter" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetKalaGroupWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKalaGroupWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertKalaGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKalaGroup" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertKalaGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKalaGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateKalaGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKalaGroup" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_UpdateKalaGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKalaGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteKalaGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKalaGroup" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteKalaGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKalaGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertAnbar_Tree_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnbar_Tree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertAnbar_Tree_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnbar_TreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteAnbar_Tree_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnbar_Tree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_DeleteAnbar_Tree_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnbar_TreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertKala_Tree_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKala_Tree" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_InsertKala_Tree_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKala_TreeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_Getkala_TarifNashode_InputMessage">
    <wsdl:part name="parameters" element="tns:Getkala_TarifNashode" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_Getkala_TarifNashode_OutputMessage">
    <wsdl:part name="parameters" element="tns:Getkala_TarifNashodeResponse" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbar_TarifNashode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbar_TarifNashode" />
  </wsdl:message>
  <wsdl:message name="IAnbarAmvalService_GetAnbar_TarifNashode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnbar_TarifNashodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IAnbarAmvalService">
    <wsdl:operation name="GetInsuranceTypeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetInsuranceTypeDetail" message="tns:IAnbarAmvalService_GetInsuranceTypeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetInsuranceTypeDetailResponse" message="tns:IAnbarAmvalService_GetInsuranceTypeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceTypeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetInsuranceTypeWithFilter" message="tns:IAnbarAmvalService_GetInsuranceTypeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetInsuranceTypeWithFilterResponse" message="tns:IAnbarAmvalService_GetInsuranceTypeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertInsuranceType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertInsuranceType" message="tns:IAnbarAmvalService_InsertInsuranceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertInsuranceTypeResponse" message="tns:IAnbarAmvalService_InsertInsuranceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInsuranceType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateInsuranceType" message="tns:IAnbarAmvalService_UpdateInsuranceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateInsuranceTypeResponse" message="tns:IAnbarAmvalService_UpdateInsuranceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInsuranceType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteInsuranceType" message="tns:IAnbarAmvalService_DeleteInsuranceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteInsuranceTypeResponse" message="tns:IAnbarAmvalService_DeleteInsuranceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceCompanyDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetInsuranceCompanyDetail" message="tns:IAnbarAmvalService_GetInsuranceCompanyDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetInsuranceCompanyDetailResponse" message="tns:IAnbarAmvalService_GetInsuranceCompanyDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceCompanyWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetInsuranceCompanyWithFilter" message="tns:IAnbarAmvalService_GetInsuranceCompanyWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetInsuranceCompanyWithFilterResponse" message="tns:IAnbarAmvalService_GetInsuranceCompanyWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertInsuranceCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertInsuranceCompany" message="tns:IAnbarAmvalService_InsertInsuranceCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertInsuranceCompanyResponse" message="tns:IAnbarAmvalService_InsertInsuranceCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInsuranceCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateInsuranceCompany" message="tns:IAnbarAmvalService_UpdateInsuranceCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateInsuranceCompanyResponse" message="tns:IAnbarAmvalService_UpdateInsuranceCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInsuranceCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteInsuranceCompany" message="tns:IAnbarAmvalService_DeleteInsuranceCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteInsuranceCompanyResponse" message="tns:IAnbarAmvalService_DeleteInsuranceCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnbarDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarDetail" message="tns:IAnbarAmvalService_GetAnbarDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarDetailResponse" message="tns:IAnbarAmvalService_GetAnbarDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnbarWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarWithFilter" message="tns:IAnbarAmvalService_GetAnbarWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarWithFilterResponse" message="tns:IAnbarAmvalService_GetAnbarWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAnbar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertAnbar" message="tns:IAnbarAmvalService_InsertAnbar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertAnbarResponse" message="tns:IAnbarAmvalService_InsertAnbar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnbar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateAnbar" message="tns:IAnbarAmvalService_UpdateAnbar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateAnbarResponse" message="tns:IAnbarAmvalService_UpdateAnbar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnbar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteAnbar" message="tns:IAnbarAmvalService_DeleteAnbar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteAnbarResponse" message="tns:IAnbarAmvalService_DeleteAnbar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePID_Anbar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdatePID_Anbar" message="tns:IAnbarAmvalService_UpdatePID_Anbar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdatePID_AnbarResponse" message="tns:IAnbarAmvalService_UpdatePID_Anbar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePID_Anbar_Tree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdatePID_Anbar_Tree" message="tns:IAnbarAmvalService_UpdatePID_Anbar_Tree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdatePID_Anbar_TreeResponse" message="tns:IAnbarAmvalService_UpdatePID_Anbar_Tree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePID_kala">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdatePID_kala" message="tns:IAnbarAmvalService_UpdatePID_kala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdatePID_kalaResponse" message="tns:IAnbarAmvalService_UpdatePID_kala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnbarTreeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarTreeDetail" message="tns:IAnbarAmvalService_GetAnbarTreeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarTreeDetailResponse" message="tns:IAnbarAmvalService_GetAnbarTreeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnbarTreeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarTreeWithFilter" message="tns:IAnbarAmvalService_GetAnbarTreeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarTreeWithFilterResponse" message="tns:IAnbarAmvalService_GetAnbarTreeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAnbarTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertAnbarTree" message="tns:IAnbarAmvalService_InsertAnbarTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertAnbarTreeResponse" message="tns:IAnbarAmvalService_InsertAnbarTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnbarTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateAnbarTree" message="tns:IAnbarAmvalService_UpdateAnbarTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateAnbarTreeResponse" message="tns:IAnbarAmvalService_UpdateAnbarTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnbarTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteAnbarTree" message="tns:IAnbarAmvalService_DeleteAnbarTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteAnbarTreeResponse" message="tns:IAnbarAmvalService_DeleteAnbarTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKalaTreeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetKalaTreeDetail" message="tns:IAnbarAmvalService_GetKalaTreeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetKalaTreeDetailResponse" message="tns:IAnbarAmvalService_GetKalaTreeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKalaTreeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetKalaTreeWithFilter" message="tns:IAnbarAmvalService_GetKalaTreeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetKalaTreeWithFilterResponse" message="tns:IAnbarAmvalService_GetKalaTreeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKalaTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertKalaTree" message="tns:IAnbarAmvalService_InsertKalaTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertKalaTreeResponse" message="tns:IAnbarAmvalService_InsertKalaTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKalaTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateKalaTree" message="tns:IAnbarAmvalService_UpdateKalaTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateKalaTreeResponse" message="tns:IAnbarAmvalService_UpdateKalaTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKalaTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteKalaTree" message="tns:IAnbarAmvalService_DeleteKalaTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteKalaTreeResponse" message="tns:IAnbarAmvalService_DeleteKalaTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnbarGroupDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarGroupDetail" message="tns:IAnbarAmvalService_GetAnbarGroupDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarGroupDetailResponse" message="tns:IAnbarAmvalService_GetAnbarGroupDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnbarGroupWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarGroupWithFilter" message="tns:IAnbarAmvalService_GetAnbarGroupWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbarGroupWithFilterResponse" message="tns:IAnbarAmvalService_GetAnbarGroupWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAnbarGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertAnbarGroup" message="tns:IAnbarAmvalService_InsertAnbarGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertAnbarGroupResponse" message="tns:IAnbarAmvalService_InsertAnbarGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnbarGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateAnbarGroup" message="tns:IAnbarAmvalService_UpdateAnbarGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateAnbarGroupResponse" message="tns:IAnbarAmvalService_UpdateAnbarGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnbarGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteAnbarGroup" message="tns:IAnbarAmvalService_DeleteAnbarGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteAnbarGroupResponse" message="tns:IAnbarAmvalService_DeleteAnbarGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKalaGroupDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetKalaGroupDetail" message="tns:IAnbarAmvalService_GetKalaGroupDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetKalaGroupDetailResponse" message="tns:IAnbarAmvalService_GetKalaGroupDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKalaGroupWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetKalaGroupWithFilter" message="tns:IAnbarAmvalService_GetKalaGroupWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetKalaGroupWithFilterResponse" message="tns:IAnbarAmvalService_GetKalaGroupWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKalaGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertKalaGroup" message="tns:IAnbarAmvalService_InsertKalaGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertKalaGroupResponse" message="tns:IAnbarAmvalService_InsertKalaGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKalaGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateKalaGroup" message="tns:IAnbarAmvalService_UpdateKalaGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/UpdateKalaGroupResponse" message="tns:IAnbarAmvalService_UpdateKalaGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKalaGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteKalaGroup" message="tns:IAnbarAmvalService_DeleteKalaGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteKalaGroupResponse" message="tns:IAnbarAmvalService_DeleteKalaGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAnbar_Tree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertAnbar_Tree" message="tns:IAnbarAmvalService_InsertAnbar_Tree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertAnbar_TreeResponse" message="tns:IAnbarAmvalService_InsertAnbar_Tree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnbar_Tree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteAnbar_Tree" message="tns:IAnbarAmvalService_DeleteAnbar_Tree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/DeleteAnbar_TreeResponse" message="tns:IAnbarAmvalService_DeleteAnbar_Tree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKala_Tree">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertKala_Tree" message="tns:IAnbarAmvalService_InsertKala_Tree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/InsertKala_TreeResponse" message="tns:IAnbarAmvalService_InsertKala_Tree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Getkala_TarifNashode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/Getkala_TarifNashode" message="tns:IAnbarAmvalService_Getkala_TarifNashode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/Getkala_TarifNashodeResponse" message="tns:IAnbarAmvalService_Getkala_TarifNashode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnbar_TarifNashode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbar_TarifNashode" message="tns:IAnbarAmvalService_GetAnbar_TarifNashode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnbarAmvalService/GetAnbar_TarifNashodeResponse" message="tns:IAnbarAmvalService_GetAnbar_TarifNashode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAnbarAmvalService" type="tns:IAnbarAmvalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInsuranceTypeDetail">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetInsuranceTypeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceTypeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetInsuranceTypeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertInsuranceType">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertInsuranceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsuranceType">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdateInsuranceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInsuranceType">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/DeleteInsuranceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceCompanyDetail">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetInsuranceCompanyDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceCompanyWithFilter">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetInsuranceCompanyWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertInsuranceCompany">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertInsuranceCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsuranceCompany">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdateInsuranceCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInsuranceCompany">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/DeleteInsuranceCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnbarDetail">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetAnbarDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnbarWithFilter">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetAnbarWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAnbar">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertAnbar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnbar">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdateAnbar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnbar">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/DeleteAnbar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePID_Anbar">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdatePID_Anbar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePID_Anbar_Tree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdatePID_Anbar_Tree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePID_kala">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdatePID_kala" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnbarTreeDetail">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetAnbarTreeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnbarTreeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetAnbarTreeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAnbarTree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertAnbarTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnbarTree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdateAnbarTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnbarTree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/DeleteAnbarTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKalaTreeDetail">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetKalaTreeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKalaTreeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetKalaTreeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKalaTree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertKalaTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKalaTree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdateKalaTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKalaTree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/DeleteKalaTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnbarGroupDetail">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetAnbarGroupDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnbarGroupWithFilter">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetAnbarGroupWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAnbarGroup">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertAnbarGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnbarGroup">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdateAnbarGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnbarGroup">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/DeleteAnbarGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKalaGroupDetail">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetKalaGroupDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKalaGroupWithFilter">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetKalaGroupWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKalaGroup">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertKalaGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKalaGroup">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/UpdateKalaGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKalaGroup">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/DeleteKalaGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAnbar_Tree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertAnbar_Tree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnbar_Tree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/DeleteAnbar_Tree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKala_Tree">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/InsertKala_Tree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getkala_TarifNashode">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/Getkala_TarifNashode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnbar_TarifNashode">
      <soap:operation soapAction="http://tempuri.org/IAnbarAmvalService/GetAnbar_TarifNashode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnbarAmvalService">
    <wsdl:port name="BasicHttpBinding_IAnbarAmvalService" binding="tns:BasicHttpBinding_IAnbarAmvalService">
      <soap:address location="http://192.168.1.33:8096/AnbarAmvalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>