NewFMS/Web References/WCF_Chek/ChekService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChekService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.33:8096/ChekService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChekService_GetOlgoCheckDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOlgoCheckDetail" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetOlgoCheckDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOlgoCheckDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetOlgoCheckWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOlgoCheckWithFilter" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetOlgoCheckWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOlgoCheckWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertOlgoCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOlgoCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertOlgoCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOlgoCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateOlgoCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOlgoCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateOlgoCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOlgoCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteOlgoCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOlgoCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteOlgoCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOlgoCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetDasteCheckDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDasteCheckDetail" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetDasteCheckDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDasteCheckDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetDasteCheckWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDasteCheckWithFilter" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetDasteCheckWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDasteCheckWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertDasteCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDasteCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertDasteCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDasteCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateDasteCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDasteCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateDasteCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDasteCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteDasteCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDasteCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteDasteCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDasteCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetSodorCheckDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSodorCheckDetail" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetSodorCheckDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSodorCheckDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetSodorCheckWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSodorCheckWithFilter" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetSodorCheckWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSodorCheckWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetSumMablaghCheck_Factor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSumMablaghCheck_Factor" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetSumMablaghCheck_Factor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSumMablaghCheck_FactorResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertSodorCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSodorCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertSodorCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSodorCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateSodorCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSodorCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateSodorCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSodorCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteSodorCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSodorCheck" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteSodorCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSodorCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetAghsatCheckAmaniDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAghsatCheckAmaniDetail" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetAghsatCheckAmaniDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAghsatCheckAmaniDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetAghsatCheckAmaniWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAghsatCheckAmaniWithFilter" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetAghsatCheckAmaniWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAghsatCheckAmaniWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertAghsatCheckAmani_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAghsatCheckAmani" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertAghsatCheckAmani_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAghsatCheckAmaniResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateAghsatCheckAmani_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAghsatCheckAmani" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateAghsatCheckAmani_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAghsatCheckAmaniResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteAghsatCheckAmani_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAghsatCheckAmani" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteAghsatCheckAmani_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAghsatCheckAmaniResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateStatusAghsatCheckAmani_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusAghsatCheckAmani" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateStatusAghsatCheckAmani_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusAghsatCheckAmaniResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteAghsatChckAmaniForChckVaredeId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAghsatChckAmaniForChckVaredeId" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteAghsatChckAmaniForChckVaredeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAghsatChckAmaniForChckVaredeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetCheckHayeVaredeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckHayeVaredeDetail" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetCheckHayeVaredeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckHayeVaredeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetCheckHayeVaredeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckHayeVaredeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IChekService_GetCheckHayeVaredeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckHayeVaredeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertCheckHayeVarede_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCheckHayeVarede" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertCheckHayeVarede_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCheckHayeVaredeResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateCheckHayeVarede_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckHayeVarede" />
  </wsdl:message>
  <wsdl:message name="IChekService_UpdateCheckHayeVarede_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCheckHayeVaredeResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteCheckHayeVarede_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCheckHayeVarede" />
  </wsdl:message>
  <wsdl:message name="IChekService_DeleteCheckHayeVarede_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCheckHayeVaredeResponse" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertChekStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertChekStatus" />
  </wsdl:message>
  <wsdl:message name="IChekService_InsertChekStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertChekStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IChekService">
    <wsdl:operation name="GetOlgoCheckDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetOlgoCheckDetail" message="tns:IChekService_GetOlgoCheckDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetOlgoCheckDetailResponse" message="tns:IChekService_GetOlgoCheckDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOlgoCheckWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetOlgoCheckWithFilter" message="tns:IChekService_GetOlgoCheckWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetOlgoCheckWithFilterResponse" message="tns:IChekService_GetOlgoCheckWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOlgoCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/InsertOlgoCheck" message="tns:IChekService_InsertOlgoCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/InsertOlgoCheckResponse" message="tns:IChekService_InsertOlgoCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOlgoCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/UpdateOlgoCheck" message="tns:IChekService_UpdateOlgoCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/UpdateOlgoCheckResponse" message="tns:IChekService_UpdateOlgoCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOlgoCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/DeleteOlgoCheck" message="tns:IChekService_DeleteOlgoCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/DeleteOlgoCheckResponse" message="tns:IChekService_DeleteOlgoCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDasteCheckDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetDasteCheckDetail" message="tns:IChekService_GetDasteCheckDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetDasteCheckDetailResponse" message="tns:IChekService_GetDasteCheckDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDasteCheckWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetDasteCheckWithFilter" message="tns:IChekService_GetDasteCheckWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetDasteCheckWithFilterResponse" message="tns:IChekService_GetDasteCheckWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDasteCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/InsertDasteCheck" message="tns:IChekService_InsertDasteCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/InsertDasteCheckResponse" message="tns:IChekService_InsertDasteCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDasteCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/UpdateDasteCheck" message="tns:IChekService_UpdateDasteCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/UpdateDasteCheckResponse" message="tns:IChekService_UpdateDasteCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDasteCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/DeleteDasteCheck" message="tns:IChekService_DeleteDasteCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/DeleteDasteCheckResponse" message="tns:IChekService_DeleteDasteCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSodorCheckDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetSodorCheckDetail" message="tns:IChekService_GetSodorCheckDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetSodorCheckDetailResponse" message="tns:IChekService_GetSodorCheckDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSodorCheckWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetSodorCheckWithFilter" message="tns:IChekService_GetSodorCheckWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetSodorCheckWithFilterResponse" message="tns:IChekService_GetSodorCheckWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSumMablaghCheck_Factor">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetSumMablaghCheck_Factor" message="tns:IChekService_GetSumMablaghCheck_Factor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetSumMablaghCheck_FactorResponse" message="tns:IChekService_GetSumMablaghCheck_Factor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSodorCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/InsertSodorCheck" message="tns:IChekService_InsertSodorCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/InsertSodorCheckResponse" message="tns:IChekService_InsertSodorCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSodorCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/UpdateSodorCheck" message="tns:IChekService_UpdateSodorCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/UpdateSodorCheckResponse" message="tns:IChekService_UpdateSodorCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSodorCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/DeleteSodorCheck" message="tns:IChekService_DeleteSodorCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/DeleteSodorCheckResponse" message="tns:IChekService_DeleteSodorCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAghsatCheckAmaniDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetAghsatCheckAmaniDetail" message="tns:IChekService_GetAghsatCheckAmaniDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetAghsatCheckAmaniDetailResponse" message="tns:IChekService_GetAghsatCheckAmaniDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAghsatCheckAmaniWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetAghsatCheckAmaniWithFilter" message="tns:IChekService_GetAghsatCheckAmaniWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetAghsatCheckAmaniWithFilterResponse" message="tns:IChekService_GetAghsatCheckAmaniWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAghsatCheckAmani">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/InsertAghsatCheckAmani" message="tns:IChekService_InsertAghsatCheckAmani_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/InsertAghsatCheckAmaniResponse" message="tns:IChekService_InsertAghsatCheckAmani_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAghsatCheckAmani">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/UpdateAghsatCheckAmani" message="tns:IChekService_UpdateAghsatCheckAmani_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/UpdateAghsatCheckAmaniResponse" message="tns:IChekService_UpdateAghsatCheckAmani_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAghsatCheckAmani">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/DeleteAghsatCheckAmani" message="tns:IChekService_DeleteAghsatCheckAmani_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/DeleteAghsatCheckAmaniResponse" message="tns:IChekService_DeleteAghsatCheckAmani_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusAghsatCheckAmani">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/UpdateStatusAghsatCheckAmani" message="tns:IChekService_UpdateStatusAghsatCheckAmani_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/UpdateStatusAghsatCheckAmaniResponse" message="tns:IChekService_UpdateStatusAghsatCheckAmani_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAghsatChckAmaniForChckVaredeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/DeleteAghsatChckAmaniForChckVaredeId" message="tns:IChekService_DeleteAghsatChckAmaniForChckVaredeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/DeleteAghsatChckAmaniForChckVaredeIdResponse" message="tns:IChekService_DeleteAghsatChckAmaniForChckVaredeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckHayeVaredeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetCheckHayeVaredeDetail" message="tns:IChekService_GetCheckHayeVaredeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetCheckHayeVaredeDetailResponse" message="tns:IChekService_GetCheckHayeVaredeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckHayeVaredeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/GetCheckHayeVaredeWithFilter" message="tns:IChekService_GetCheckHayeVaredeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/GetCheckHayeVaredeWithFilterResponse" message="tns:IChekService_GetCheckHayeVaredeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCheckHayeVarede">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/InsertCheckHayeVarede" message="tns:IChekService_InsertCheckHayeVarede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/InsertCheckHayeVaredeResponse" message="tns:IChekService_InsertCheckHayeVarede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckHayeVarede">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/UpdateCheckHayeVarede" message="tns:IChekService_UpdateCheckHayeVarede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/UpdateCheckHayeVaredeResponse" message="tns:IChekService_UpdateCheckHayeVarede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCheckHayeVarede">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/DeleteCheckHayeVarede" message="tns:IChekService_DeleteCheckHayeVarede_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/DeleteCheckHayeVaredeResponse" message="tns:IChekService_DeleteCheckHayeVarede_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertChekStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IChekService/InsertChekStatus" message="tns:IChekService_InsertChekStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChekService/InsertChekStatusResponse" message="tns:IChekService_InsertChekStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChekService" type="tns:IChekService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOlgoCheckDetail">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetOlgoCheckDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOlgoCheckWithFilter">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetOlgoCheckWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOlgoCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/InsertOlgoCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOlgoCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/UpdateOlgoCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOlgoCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/DeleteOlgoCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDasteCheckDetail">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetDasteCheckDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDasteCheckWithFilter">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetDasteCheckWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDasteCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/InsertDasteCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDasteCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/UpdateDasteCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDasteCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/DeleteDasteCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSodorCheckDetail">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetSodorCheckDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSodorCheckWithFilter">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetSodorCheckWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSumMablaghCheck_Factor">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetSumMablaghCheck_Factor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSodorCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/InsertSodorCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSodorCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/UpdateSodorCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSodorCheck">
      <soap:operation soapAction="http://tempuri.org/IChekService/DeleteSodorCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAghsatCheckAmaniDetail">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetAghsatCheckAmaniDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAghsatCheckAmaniWithFilter">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetAghsatCheckAmaniWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAghsatCheckAmani">
      <soap:operation soapAction="http://tempuri.org/IChekService/InsertAghsatCheckAmani" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAghsatCheckAmani">
      <soap:operation soapAction="http://tempuri.org/IChekService/UpdateAghsatCheckAmani" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAghsatCheckAmani">
      <soap:operation soapAction="http://tempuri.org/IChekService/DeleteAghsatCheckAmani" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusAghsatCheckAmani">
      <soap:operation soapAction="http://tempuri.org/IChekService/UpdateStatusAghsatCheckAmani" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAghsatChckAmaniForChckVaredeId">
      <soap:operation soapAction="http://tempuri.org/IChekService/DeleteAghsatChckAmaniForChckVaredeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckHayeVaredeDetail">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetCheckHayeVaredeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckHayeVaredeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IChekService/GetCheckHayeVaredeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCheckHayeVarede">
      <soap:operation soapAction="http://tempuri.org/IChekService/InsertCheckHayeVarede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckHayeVarede">
      <soap:operation soapAction="http://tempuri.org/IChekService/UpdateCheckHayeVarede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCheckHayeVarede">
      <soap:operation soapAction="http://tempuri.org/IChekService/DeleteCheckHayeVarede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertChekStatus">
      <soap:operation soapAction="http://tempuri.org/IChekService/InsertChekStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChekService">
    <wsdl:port name="BasicHttpBinding_IChekService" binding="tns:BasicHttpBinding_IChekService">
      <soap:address location="http://192.168.1.33:8096/ChekService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>