NewFMS/Web References/WCF_Chek/ChekService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetOlgoCheckDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOlgoCheckDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetOlgoCheckDetailResult" type="tns:OBJ_OlgoCheck" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_OlgoCheck">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIdFile" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIdBank" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldBankName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Msg" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorType" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutputId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutputId2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOlgoCheckWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOlgoCheckWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetOlgoCheckWithFilterResult" type="tns:ArrayOfOBJ_OlgoCheck" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_OlgoCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_OlgoCheck" nillable="true" type="tns:OBJ_OlgoCheck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertOlgoCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="File" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="1" name="Pasvand" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="BankId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOlgoCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertOlgoCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOlgoCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="File" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="1" name="Pasvand" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="FileId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="BankId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOlgoCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateOlgoCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOlgoCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOlgoCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteOlgoCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDasteCheckDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDasteCheckDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDasteCheckDetailResult" type="tns:OBJ_DasteCheck" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_DasteCheck">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIdOlgoCheck" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldShomareHesab" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldMoshakhaseDasteCheck" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTedadBarg" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldShoroeSeriyal" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserID" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIdShomareHesab" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldBankName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldOlgu" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldShobeName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDasteCheckWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDasteCheckWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDasteCheckWithFilterResult" type="tns:ArrayOfOBJ_DasteCheck" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_DasteCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_DasteCheck" nillable="true" type="tns:OBJ_DasteCheck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertDasteCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="OlgoCheckId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShomareHesabId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="MoshakhaseDasteCheck" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="TedadBarg" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="ShoroeSeriyal" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDasteCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertDasteCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDasteCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OlgoCheckId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShomareHesabId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="MoshakhaseDasteCheck" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="TedadBarg" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="ShoroeSeriyal" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDasteCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateDasteCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDasteCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDasteCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteDasteCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSodorCheckDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSodorCheckDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSodorCheckDetailResult" type="tns:OBJ_SodorCheck" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_SodorCheck">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIdDasteCheck" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhVosol" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDarVajh" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldCodeSerialCheck" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldBabat" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBabatFlag" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMablagh" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldMoshakhaseDasteCheck" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldBankName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TarikhSabt" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameShobe" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name_Family" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShomareMeli" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldShomareHesab" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AshkhasId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BabatText" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TarikhShamsi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MablaghBeHorof" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldvaziat" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameVaziat" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhVaziat" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTankhahGroupId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldFactorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldContractId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSodorCheckWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSodorCheckWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSodorCheckWithFilterResult" type="tns:ArrayOfOBJ_SodorCheck" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_SodorCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_SodorCheck" nillable="true" type="tns:OBJ_SodorCheck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSumMablaghCheck_Factor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumMablaghCheck_FactorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetSumMablaghCheck_FactorResult" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSodorCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DasteCheckId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhVosol" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AshkhasId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="CodeSerialCheck" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Babat" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="BabatFlag" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Mablagh" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="FactorId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ContractId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="TankhahGroupId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSodorCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertSodorCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSodorCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="DasteCheckId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhVosol" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AshkhasId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="CodeSerialCheck" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Babat" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="BabatFlag" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="Mablagh" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="FactorId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ContractId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="TankhahGroupId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSodorCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateSodorCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSodorCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSodorCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteSodorCheckResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAghsatCheckAmaniDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAghsatCheckAmaniDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAghsatCheckAmaniDetailResult" type="tns:OBJ_AghsatCheckAmani" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_AghsatCheckAmani">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMablagh" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikh" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNobat" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldVaziat" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIdCheckHayeVarede" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameVaziat" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhVaziat" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAghsatCheckAmaniWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAghsatCheckAmaniWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAghsatCheckAmaniWithFilterResult" type="tns:ArrayOfOBJ_AghsatCheckAmani" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_AghsatCheckAmani">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_AghsatCheckAmani" nillable="true" type="tns:OBJ_AghsatCheckAmani" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertAghsatCheckAmani">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Mablagh" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Tarikh" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Nobat" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CheckHayeVaredeId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAghsatCheckAmaniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertAghsatCheckAmaniResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAghsatCheckAmani">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Mablagh" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Tarikh" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Nobat" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CheckHayeVaredeId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAghsatCheckAmaniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateAghsatCheckAmaniResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAghsatCheckAmani">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAghsatCheckAmaniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteAghsatCheckAmaniResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusAghsatCheckAmani">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhPardakht" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Vaziat" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusAghsatCheckAmaniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateStatusAghsatCheckAmaniResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAghsatChckAmaniForChckVaredeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ChekVardeId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAghsatChckAmaniForChckVaredeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteAghsatChckAmaniForChckVaredeIdResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckHayeVaredeDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckHayeVaredeDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCheckHayeVaredeDetailResult" type="tns:OBJ_CheckHayeVarede" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_CheckHayeVarede">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldIdShobe" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMablagh" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldAshkhasId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhVosolCheck" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhDaryaftCheck" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldShenaseKamelCheck" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldBabat" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldNoeeCheck" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="NoeeCheckName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="TarikhSabt" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldShobeName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldBankName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldBankId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameFamily" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldvaziat" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameVaziat" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikhVaziat" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldStatus" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldCodemeli" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTypeShakhs" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldSaderKonandeh" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldReceive" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldReceiveName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldElamAvarezId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCheckHayeVaredeWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckHayeVaredeWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCheckHayeVaredeWithFilterResult" type="tns:ArrayOfOBJ_CheckHayeVarede" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_CheckHayeVarede">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_CheckHayeVarede" nillable="true" type="tns:OBJ_CheckHayeVarede" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertCheckHayeVarede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ShobeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Mablagh" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="AshkhasId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhVosolCheck" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhDaryaftCheck" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ShenaseKamelCheck" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Babat" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="NoeeCheck" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCheckHayeVaredeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertCheckHayeVaredeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckHayeVarede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShobeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Mablagh" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="AshkhasId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhVosolCheck" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TarikhDaryaftCheck" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ShenaseKamelCheck" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Babat" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="NoeeCheck" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCheckHayeVaredeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateCheckHayeVaredeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheckHayeVarede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCheckHayeVaredeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteCheckHayeVaredeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChekStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SodorCheckId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="CheckVaredeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="AghsatId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="Tarikh" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertChekStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertChekStatusResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>