NewFMS/Web References/WCF_Budget/BudgetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BudgetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.33:8096/BudgetService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBudgetService_GetEtebarTypeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEtebarTypeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetEtebarTypeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEtebarTypeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMasrafTypeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasrafTypeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMasrafTypeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasrafTypeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMamoriyatDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMamoriyatDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMamoriyatDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMamoriyatDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMamoriyatWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMamoriyatWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMamoriyatWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMamoriyatWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertMamoriyat_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMamoriyat" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertMamoriyat_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMamoriyatResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateMamoriyat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMamoriyat" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateMamoriyat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMamoriyatResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteMamoriyat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMamoriyat" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteMamoriyat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMamoriyatResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetProgramDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetProgramDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetProgramWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetProgramWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProgram" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProgram" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgram" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTarh_KhedmatDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTarh_KhedmatDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTarh_KhedmatDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTarh_KhedmatDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTarh_KhedmatWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTarh_KhedmatWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTarh_KhedmatWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTarh_KhedmatWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertTarh_Khedmat_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTarh_Khedmat" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertTarh_Khedmat_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTarh_KhedmatResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateTarh_Khedmat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTarh_Khedmat" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateTarh_Khedmat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTarh_KhedmatResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteTarh_Khedmat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTarh_Khedmat" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteTarh_Khedmat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTarh_KhedmatResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetProject_DetailsDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject_DetailsDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetProject_DetailsDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProject_DetailsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetProject_DetailsWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject_DetailsWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetProject_DetailsWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProject_DetailsWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertProject_Details_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProject_Details" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertProject_Details_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProject_DetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateProject_Details_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject_Details" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateProject_Details_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject_DetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteProject_Details_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject_Details" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteProject_Details_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject_DetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTemplatCodingDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatCodingDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTemplatCodingDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatCodingDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTemplatCodingWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatCodingWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTemplatCodingWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatCodingWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertTemplatCoding_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTemplatCoding" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertTemplatCoding_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTemplatCodingResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateTemplatCoding_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTemplatCoding" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateTemplatCoding_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTemplatCodingResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteTemplatCoding_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTemplatCoding" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteTemplatCoding_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTemplatCodingResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingLevelDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingLevelDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingLevelDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingLevelDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingLevelWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingLevelWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingLevelWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingLevelWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertCodingLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCodingLevel" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertCodingLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCodingLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateCodingLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodingLevel" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateCodingLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodingLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteCodingLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodingLevel" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteCodingLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodingLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudjeLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBudjeLevel" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudjeLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBudjeLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTemplatNameDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatNameDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTemplatNameDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatNameDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTemplatNameWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatNameWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetTemplatNameWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplatNameWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertTemplatName_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTemplatName" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertTemplatName_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTemplatNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateTemplatName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTemplatName" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateTemplatName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTemplatNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteTemplatName_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTemplatName" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteTemplatName_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTemplatNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetDefaultCodeBudje_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultCodeBudje" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetDefaultCodeBudje_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultCodeBudjeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CheckValidCodeBudje_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckValidCodeBudje" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CheckValidCodeBudje_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckValidCodeBudjeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingBudje_HeaderDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingBudje_HeaderDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingBudje_HeaderDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingBudje_HeaderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingBudje_HeaderWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingBudje_HeaderWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingBudje_HeaderWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingBudje_HeaderWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertCodingBudje_Header_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCodingBudje_Header" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertCodingBudje_Header_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCodingBudje_HeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateCodingBudje_Header_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodingBudje_Header" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateCodingBudje_Header_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodingBudje_HeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteCodingBudje_Header_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodingBudje_Header" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteCodingBudje_Header_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodingBudje_HeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingBudje_DetailDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingBudje_DetailDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingBudje_DetailDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingBudje_DetailDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingBudje_DetailWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingBudje_DetailWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingBudje_DetailWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingBudje_DetailWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertCodingBudje_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCodingBudje_Detail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertCodingBudje_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCodingBudje_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateCodingBudje_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodingBudje_Detail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateCodingBudje_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodingBudje_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteCodingBudje_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodingBudje_Detail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteCodingBudje_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodingBudje_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CopyFromTemplateCodingToCodingBudje_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyFromTemplateCodingToCodingBudje" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CopyFromTemplateCodingToCodingBudje_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyFromTemplateCodingToCodingBudjeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CopyCodingDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyCodingDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CopyCodingDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyCodingDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CheckValidCode_CodingDetailBudje_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckValidCode_CodingDetailBudje" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CheckValidCode_CodingDetailBudje_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckValidCode_CodingDetailBudjeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetDefaultCode_CodingBudje_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultCode_CodingBudje" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetDefaultCode_CodingBudje_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultCode_CodingBudjeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingTarh_KhedmatWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingTarh_KhedmatWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetCodingTarh_KhedmatWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodingTarh_KhedmatWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetAnticipationDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnticipationDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetAnticipationDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnticipationDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetAnticipationWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnticipationWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetAnticipationWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnticipationWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertAnticipation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnticipation" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertAnticipation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnticipationResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateAnticipation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnticipation" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateAnticipation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnticipationResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteAnticipation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnticipation" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteAnticipation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnticipationResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudgetTypeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBudgetTypeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudgetTypeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBudgetTypeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectPishbiniBudje_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPishbiniBudje" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectPishbiniBudje_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPishbiniBudjeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectPishbiniBudje_SalGhabl_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPishbiniBudje_SalGhabl" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectPishbiniBudje_SalGhabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPishbiniBudje_SalGhablResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectCodingAccNotBudje_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCodingAccNotBudje" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectCodingAccNotBudje_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCodingAccNotBudjeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectTashimDaramadCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTashimDaramadCode" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectTashimDaramadCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTashimDaramadCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CheckPishbiniBudje_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPishbiniBudje" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CheckPishbiniBudje_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPishbiniBudjeResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertTas_him_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTas_him" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertTas_him_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTas_himResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CopytoMosavab_InputMessage">
    <wsdl:part name="parameters" element="tns:CopytoMosavab" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_CopytoMosavab_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopytoMosavabResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudje_khedmatDarsadIdDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBudje_khedmatDarsadIdDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudje_khedmatDarsadIdDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBudje_khedmatDarsadIdDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudje_khedmatDarsadIdWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBudje_khedmatDarsadIdWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetBudje_khedmatDarsadIdWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBudje_khedmatDarsadIdWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertBudje_khedmatDarsadId_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBudje_khedmatDarsadId" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertBudje_khedmatDarsadId_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBudje_khedmatDarsadIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertOnlyKhedmat_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOnlyKhedmat" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertOnlyKhedmat_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOnlyKhedmatResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteBudje_khedmatDarsadId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBudje_khedmatDarsadId" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteBudje_khedmatDarsadId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBudje_khedmatDarsadIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMotammamDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotammamDetail" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMotammamDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotammamDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMotammamWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotammamWithFilter" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_GetMotammamWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotammamWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertMotammam_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMotammam" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_InsertMotammam_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMotammamResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateMotammam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMotammam" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_UpdateMotammam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMotammamResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteMotammam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMotammam" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_DeleteMotammam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMotammamResponse" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectProjectCoding_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProjectCoding" />
  </wsdl:message>
  <wsdl:message name="IBudgetService_SelectProjectCoding_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProjectCodingResponse" />
  </wsdl:message>
  <wsdl:portType name="IBudgetService">
    <wsdl:operation name="GetEtebarTypeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetEtebarTypeWithFilter" message="tns:IBudgetService_GetEtebarTypeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetEtebarTypeWithFilterResponse" message="tns:IBudgetService_GetEtebarTypeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMasrafTypeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetMasrafTypeWithFilter" message="tns:IBudgetService_GetMasrafTypeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetMasrafTypeWithFilterResponse" message="tns:IBudgetService_GetMasrafTypeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMamoriyatDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetMamoriyatDetail" message="tns:IBudgetService_GetMamoriyatDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetMamoriyatDetailResponse" message="tns:IBudgetService_GetMamoriyatDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMamoriyatWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetMamoriyatWithFilter" message="tns:IBudgetService_GetMamoriyatWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetMamoriyatWithFilterResponse" message="tns:IBudgetService_GetMamoriyatWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMamoriyat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertMamoriyat" message="tns:IBudgetService_InsertMamoriyat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertMamoriyatResponse" message="tns:IBudgetService_InsertMamoriyat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMamoriyat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateMamoriyat" message="tns:IBudgetService_UpdateMamoriyat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateMamoriyatResponse" message="tns:IBudgetService_UpdateMamoriyat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMamoriyat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteMamoriyat" message="tns:IBudgetService_DeleteMamoriyat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteMamoriyatResponse" message="tns:IBudgetService_DeleteMamoriyat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetProgramDetail" message="tns:IBudgetService_GetProgramDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetProgramDetailResponse" message="tns:IBudgetService_GetProgramDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetProgramWithFilter" message="tns:IBudgetService_GetProgramWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetProgramWithFilterResponse" message="tns:IBudgetService_GetProgramWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertProgram" message="tns:IBudgetService_InsertProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertProgramResponse" message="tns:IBudgetService_InsertProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateProgram" message="tns:IBudgetService_UpdateProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateProgramResponse" message="tns:IBudgetService_UpdateProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteProgram" message="tns:IBudgetService_DeleteProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteProgramResponse" message="tns:IBudgetService_DeleteProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTarh_KhedmatDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetTarh_KhedmatDetail" message="tns:IBudgetService_GetTarh_KhedmatDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetTarh_KhedmatDetailResponse" message="tns:IBudgetService_GetTarh_KhedmatDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTarh_KhedmatWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetTarh_KhedmatWithFilter" message="tns:IBudgetService_GetTarh_KhedmatWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetTarh_KhedmatWithFilterResponse" message="tns:IBudgetService_GetTarh_KhedmatWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTarh_Khedmat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertTarh_Khedmat" message="tns:IBudgetService_InsertTarh_Khedmat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertTarh_KhedmatResponse" message="tns:IBudgetService_InsertTarh_Khedmat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTarh_Khedmat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateTarh_Khedmat" message="tns:IBudgetService_UpdateTarh_Khedmat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateTarh_KhedmatResponse" message="tns:IBudgetService_UpdateTarh_Khedmat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTarh_Khedmat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteTarh_Khedmat" message="tns:IBudgetService_DeleteTarh_Khedmat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteTarh_KhedmatResponse" message="tns:IBudgetService_DeleteTarh_Khedmat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProject_DetailsDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetProject_DetailsDetail" message="tns:IBudgetService_GetProject_DetailsDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetProject_DetailsDetailResponse" message="tns:IBudgetService_GetProject_DetailsDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProject_DetailsWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetProject_DetailsWithFilter" message="tns:IBudgetService_GetProject_DetailsWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetProject_DetailsWithFilterResponse" message="tns:IBudgetService_GetProject_DetailsWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProject_Details">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertProject_Details" message="tns:IBudgetService_InsertProject_Details_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertProject_DetailsResponse" message="tns:IBudgetService_InsertProject_Details_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject_Details">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateProject_Details" message="tns:IBudgetService_UpdateProject_Details_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateProject_DetailsResponse" message="tns:IBudgetService_UpdateProject_Details_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject_Details">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteProject_Details" message="tns:IBudgetService_DeleteProject_Details_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteProject_DetailsResponse" message="tns:IBudgetService_DeleteProject_Details_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplatCodingDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetTemplatCodingDetail" message="tns:IBudgetService_GetTemplatCodingDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetTemplatCodingDetailResponse" message="tns:IBudgetService_GetTemplatCodingDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplatCodingWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetTemplatCodingWithFilter" message="tns:IBudgetService_GetTemplatCodingWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetTemplatCodingWithFilterResponse" message="tns:IBudgetService_GetTemplatCodingWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTemplatCoding">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertTemplatCoding" message="tns:IBudgetService_InsertTemplatCoding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertTemplatCodingResponse" message="tns:IBudgetService_InsertTemplatCoding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplatCoding">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateTemplatCoding" message="tns:IBudgetService_UpdateTemplatCoding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateTemplatCodingResponse" message="tns:IBudgetService_UpdateTemplatCoding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTemplatCoding">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteTemplatCoding" message="tns:IBudgetService_DeleteTemplatCoding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteTemplatCodingResponse" message="tns:IBudgetService_DeleteTemplatCoding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodingLevelDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetCodingLevelDetail" message="tns:IBudgetService_GetCodingLevelDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetCodingLevelDetailResponse" message="tns:IBudgetService_GetCodingLevelDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodingLevelWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetCodingLevelWithFilter" message="tns:IBudgetService_GetCodingLevelWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetCodingLevelWithFilterResponse" message="tns:IBudgetService_GetCodingLevelWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCodingLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertCodingLevel" message="tns:IBudgetService_InsertCodingLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertCodingLevelResponse" message="tns:IBudgetService_InsertCodingLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCodingLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateCodingLevel" message="tns:IBudgetService_UpdateCodingLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateCodingLevelResponse" message="tns:IBudgetService_UpdateCodingLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCodingLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteCodingLevel" message="tns:IBudgetService_DeleteCodingLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteCodingLevelResponse" message="tns:IBudgetService_DeleteCodingLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBudjeLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetBudjeLevel" message="tns:IBudgetService_GetBudjeLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetBudjeLevelResponse" message="tns:IBudgetService_GetBudjeLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplatNameDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetTemplatNameDetail" message="tns:IBudgetService_GetTemplatNameDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetTemplatNameDetailResponse" message="tns:IBudgetService_GetTemplatNameDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplatNameWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetTemplatNameWithFilter" message="tns:IBudgetService_GetTemplatNameWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetTemplatNameWithFilterResponse" message="tns:IBudgetService_GetTemplatNameWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTemplatName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertTemplatName" message="tns:IBudgetService_InsertTemplatName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertTemplatNameResponse" message="tns:IBudgetService_InsertTemplatName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplatName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateTemplatName" message="tns:IBudgetService_UpdateTemplatName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateTemplatNameResponse" message="tns:IBudgetService_UpdateTemplatName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTemplatName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteTemplatName" message="tns:IBudgetService_DeleteTemplatName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteTemplatNameResponse" message="tns:IBudgetService_DeleteTemplatName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultCodeBudje">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetDefaultCodeBudje" message="tns:IBudgetService_GetDefaultCodeBudje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetDefaultCodeBudjeResponse" message="tns:IBudgetService_GetDefaultCodeBudje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckValidCodeBudje">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/CheckValidCodeBudje" message="tns:IBudgetService_CheckValidCodeBudje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/CheckValidCodeBudjeResponse" message="tns:IBudgetService_CheckValidCodeBudje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodingBudje_HeaderDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetCodingBudje_HeaderDetail" message="tns:IBudgetService_GetCodingBudje_HeaderDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetCodingBudje_HeaderDetailResponse" message="tns:IBudgetService_GetCodingBudje_HeaderDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodingBudje_HeaderWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetCodingBudje_HeaderWithFilter" message="tns:IBudgetService_GetCodingBudje_HeaderWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetCodingBudje_HeaderWithFilterResponse" message="tns:IBudgetService_GetCodingBudje_HeaderWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCodingBudje_Header">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertCodingBudje_Header" message="tns:IBudgetService_InsertCodingBudje_Header_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertCodingBudje_HeaderResponse" message="tns:IBudgetService_InsertCodingBudje_Header_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCodingBudje_Header">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateCodingBudje_Header" message="tns:IBudgetService_UpdateCodingBudje_Header_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateCodingBudje_HeaderResponse" message="tns:IBudgetService_UpdateCodingBudje_Header_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCodingBudje_Header">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteCodingBudje_Header" message="tns:IBudgetService_DeleteCodingBudje_Header_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteCodingBudje_HeaderResponse" message="tns:IBudgetService_DeleteCodingBudje_Header_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodingBudje_DetailDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetCodingBudje_DetailDetail" message="tns:IBudgetService_GetCodingBudje_DetailDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetCodingBudje_DetailDetailResponse" message="tns:IBudgetService_GetCodingBudje_DetailDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodingBudje_DetailWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetCodingBudje_DetailWithFilter" message="tns:IBudgetService_GetCodingBudje_DetailWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetCodingBudje_DetailWithFilterResponse" message="tns:IBudgetService_GetCodingBudje_DetailWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCodingBudje_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertCodingBudje_Detail" message="tns:IBudgetService_InsertCodingBudje_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertCodingBudje_DetailResponse" message="tns:IBudgetService_InsertCodingBudje_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCodingBudje_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateCodingBudje_Detail" message="tns:IBudgetService_UpdateCodingBudje_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateCodingBudje_DetailResponse" message="tns:IBudgetService_UpdateCodingBudje_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCodingBudje_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteCodingBudje_Detail" message="tns:IBudgetService_DeleteCodingBudje_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteCodingBudje_DetailResponse" message="tns:IBudgetService_DeleteCodingBudje_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyFromTemplateCodingToCodingBudje">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/CopyFromTemplateCodingToCodingBudje" message="tns:IBudgetService_CopyFromTemplateCodingToCodingBudje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/CopyFromTemplateCodingToCodingBudjeResponse" message="tns:IBudgetService_CopyFromTemplateCodingToCodingBudje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyCodingDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/CopyCodingDetail" message="tns:IBudgetService_CopyCodingDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/CopyCodingDetailResponse" message="tns:IBudgetService_CopyCodingDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckValidCode_CodingDetailBudje">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/CheckValidCode_CodingDetailBudje" message="tns:IBudgetService_CheckValidCode_CodingDetailBudje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/CheckValidCode_CodingDetailBudjeResponse" message="tns:IBudgetService_CheckValidCode_CodingDetailBudje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultCode_CodingBudje">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetDefaultCode_CodingBudje" message="tns:IBudgetService_GetDefaultCode_CodingBudje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetDefaultCode_CodingBudjeResponse" message="tns:IBudgetService_GetDefaultCode_CodingBudje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodingTarh_KhedmatWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetCodingTarh_KhedmatWithFilter" message="tns:IBudgetService_GetCodingTarh_KhedmatWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetCodingTarh_KhedmatWithFilterResponse" message="tns:IBudgetService_GetCodingTarh_KhedmatWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnticipationDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetAnticipationDetail" message="tns:IBudgetService_GetAnticipationDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetAnticipationDetailResponse" message="tns:IBudgetService_GetAnticipationDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnticipationWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetAnticipationWithFilter" message="tns:IBudgetService_GetAnticipationWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetAnticipationWithFilterResponse" message="tns:IBudgetService_GetAnticipationWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAnticipation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertAnticipation" message="tns:IBudgetService_InsertAnticipation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertAnticipationResponse" message="tns:IBudgetService_InsertAnticipation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnticipation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateAnticipation" message="tns:IBudgetService_UpdateAnticipation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateAnticipationResponse" message="tns:IBudgetService_UpdateAnticipation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnticipation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteAnticipation" message="tns:IBudgetService_DeleteAnticipation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteAnticipationResponse" message="tns:IBudgetService_DeleteAnticipation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBudgetTypeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetBudgetTypeWithFilter" message="tns:IBudgetService_GetBudgetTypeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetBudgetTypeWithFilterResponse" message="tns:IBudgetService_GetBudgetTypeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPishbiniBudje">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/SelectPishbiniBudje" message="tns:IBudgetService_SelectPishbiniBudje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/SelectPishbiniBudjeResponse" message="tns:IBudgetService_SelectPishbiniBudje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPishbiniBudje_SalGhabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/SelectPishbiniBudje_SalGhabl" message="tns:IBudgetService_SelectPishbiniBudje_SalGhabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/SelectPishbiniBudje_SalGhablResponse" message="tns:IBudgetService_SelectPishbiniBudje_SalGhabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCodingAccNotBudje">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/SelectCodingAccNotBudje" message="tns:IBudgetService_SelectCodingAccNotBudje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/SelectCodingAccNotBudjeResponse" message="tns:IBudgetService_SelectCodingAccNotBudje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTashimDaramadCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/SelectTashimDaramadCode" message="tns:IBudgetService_SelectTashimDaramadCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/SelectTashimDaramadCodeResponse" message="tns:IBudgetService_SelectTashimDaramadCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPishbiniBudje">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/CheckPishbiniBudje" message="tns:IBudgetService_CheckPishbiniBudje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/CheckPishbiniBudjeResponse" message="tns:IBudgetService_CheckPishbiniBudje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTas_him">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertTas_him" message="tns:IBudgetService_InsertTas_him_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertTas_himResponse" message="tns:IBudgetService_InsertTas_him_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopytoMosavab">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/CopytoMosavab" message="tns:IBudgetService_CopytoMosavab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/CopytoMosavabResponse" message="tns:IBudgetService_CopytoMosavab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBudje_khedmatDarsadIdDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetBudje_khedmatDarsadIdDetail" message="tns:IBudgetService_GetBudje_khedmatDarsadIdDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetBudje_khedmatDarsadIdDetailResponse" message="tns:IBudgetService_GetBudje_khedmatDarsadIdDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBudje_khedmatDarsadIdWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetBudje_khedmatDarsadIdWithFilter" message="tns:IBudgetService_GetBudje_khedmatDarsadIdWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetBudje_khedmatDarsadIdWithFilterResponse" message="tns:IBudgetService_GetBudje_khedmatDarsadIdWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBudje_khedmatDarsadId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertBudje_khedmatDarsadId" message="tns:IBudgetService_InsertBudje_khedmatDarsadId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertBudje_khedmatDarsadIdResponse" message="tns:IBudgetService_InsertBudje_khedmatDarsadId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOnlyKhedmat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertOnlyKhedmat" message="tns:IBudgetService_InsertOnlyKhedmat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertOnlyKhedmatResponse" message="tns:IBudgetService_InsertOnlyKhedmat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBudje_khedmatDarsadId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteBudje_khedmatDarsadId" message="tns:IBudgetService_DeleteBudje_khedmatDarsadId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteBudje_khedmatDarsadIdResponse" message="tns:IBudgetService_DeleteBudje_khedmatDarsadId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotammamDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetMotammamDetail" message="tns:IBudgetService_GetMotammamDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetMotammamDetailResponse" message="tns:IBudgetService_GetMotammamDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotammamWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/GetMotammamWithFilter" message="tns:IBudgetService_GetMotammamWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/GetMotammamWithFilterResponse" message="tns:IBudgetService_GetMotammamWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMotammam">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/InsertMotammam" message="tns:IBudgetService_InsertMotammam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/InsertMotammamResponse" message="tns:IBudgetService_InsertMotammam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMotammam">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/UpdateMotammam" message="tns:IBudgetService_UpdateMotammam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/UpdateMotammamResponse" message="tns:IBudgetService_UpdateMotammam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMotammam">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/DeleteMotammam" message="tns:IBudgetService_DeleteMotammam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/DeleteMotammamResponse" message="tns:IBudgetService_DeleteMotammam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProjectCoding">
      <wsdl:input wsaw:Action="http://tempuri.org/IBudgetService/SelectProjectCoding" message="tns:IBudgetService_SelectProjectCoding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBudgetService/SelectProjectCodingResponse" message="tns:IBudgetService_SelectProjectCoding_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBudgetService" type="tns:IBudgetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEtebarTypeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetEtebarTypeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasrafTypeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetMasrafTypeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMamoriyatDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetMamoriyatDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMamoriyatWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetMamoriyatWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMamoriyat">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertMamoriyat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMamoriyat">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateMamoriyat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMamoriyat">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteMamoriyat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetProgramDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetProgramWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProgram">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProgram">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgram">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTarh_KhedmatDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetTarh_KhedmatDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTarh_KhedmatWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetTarh_KhedmatWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTarh_Khedmat">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertTarh_Khedmat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTarh_Khedmat">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateTarh_Khedmat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTarh_Khedmat">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteTarh_Khedmat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject_DetailsDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetProject_DetailsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject_DetailsWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetProject_DetailsWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProject_Details">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertProject_Details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject_Details">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateProject_Details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject_Details">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteProject_Details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplatCodingDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetTemplatCodingDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplatCodingWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetTemplatCodingWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTemplatCoding">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertTemplatCoding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplatCoding">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateTemplatCoding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTemplatCoding">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteTemplatCoding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodingLevelDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetCodingLevelDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodingLevelWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetCodingLevelWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCodingLevel">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertCodingLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCodingLevel">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateCodingLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCodingLevel">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteCodingLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBudjeLevel">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetBudjeLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplatNameDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetTemplatNameDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplatNameWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetTemplatNameWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTemplatName">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertTemplatName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTemplatName">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateTemplatName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTemplatName">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteTemplatName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultCodeBudje">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetDefaultCodeBudje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckValidCodeBudje">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/CheckValidCodeBudje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodingBudje_HeaderDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetCodingBudje_HeaderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodingBudje_HeaderWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetCodingBudje_HeaderWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCodingBudje_Header">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertCodingBudje_Header" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCodingBudje_Header">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateCodingBudje_Header" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCodingBudje_Header">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteCodingBudje_Header" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodingBudje_DetailDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetCodingBudje_DetailDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodingBudje_DetailWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetCodingBudje_DetailWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCodingBudje_Detail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertCodingBudje_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCodingBudje_Detail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateCodingBudje_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCodingBudje_Detail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteCodingBudje_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyFromTemplateCodingToCodingBudje">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/CopyFromTemplateCodingToCodingBudje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyCodingDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/CopyCodingDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckValidCode_CodingDetailBudje">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/CheckValidCode_CodingDetailBudje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultCode_CodingBudje">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetDefaultCode_CodingBudje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodingTarh_KhedmatWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetCodingTarh_KhedmatWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnticipationDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetAnticipationDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnticipationWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetAnticipationWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAnticipation">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertAnticipation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnticipation">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateAnticipation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnticipation">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteAnticipation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBudgetTypeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetBudgetTypeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPishbiniBudje">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/SelectPishbiniBudje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPishbiniBudje_SalGhabl">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/SelectPishbiniBudje_SalGhabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCodingAccNotBudje">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/SelectCodingAccNotBudje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTashimDaramadCode">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/SelectTashimDaramadCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPishbiniBudje">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/CheckPishbiniBudje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTas_him">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertTas_him" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopytoMosavab">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/CopytoMosavab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBudje_khedmatDarsadIdDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetBudje_khedmatDarsadIdDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBudje_khedmatDarsadIdWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetBudje_khedmatDarsadIdWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBudje_khedmatDarsadId">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertBudje_khedmatDarsadId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOnlyKhedmat">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertOnlyKhedmat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBudje_khedmatDarsadId">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteBudje_khedmatDarsadId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotammamDetail">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetMotammamDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotammamWithFilter">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/GetMotammamWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMotammam">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/InsertMotammam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMotammam">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/UpdateMotammam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMotammam">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/DeleteMotammam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProjectCoding">
      <soap:operation soapAction="http://tempuri.org/IBudgetService/SelectProjectCoding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BudgetService">
    <wsdl:port name="BasicHttpBinding_IBudgetService" binding="tns:BasicHttpBinding_IBudgetService">
      <soap:address location="http://192.168.1.33:8096/BudgetService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>