NewFMS/Web References/WCF_Common_Pay/Comon_PayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetComputationFormulaDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ComputationFormulaId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputationFormulaDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetComputationFormulaDetailResult" type="tns:OBJ_ComputationFormula" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_ComputationFormula">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldType" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldFormule" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldLibrary" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldAzTarikh" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameOrgan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTypeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Msg" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorType" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutputId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutputId2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetComputationFormulaWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue2" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue3" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputationFormulaWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetComputationFormulaWithFilterResult" type="tns:ArrayOfOBJ_ComputationFormula" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_ComputationFormula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_ComputationFormula" nillable="true" type="tns:OBJ_ComputationFormula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertComputationFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Type" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="Formule" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Library" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AzTarikh" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="fieldname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComputationFormulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertComputationFormulaResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComputationFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Type" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="Formule" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Library" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AzTarikh" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComputationFormulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateComputationFormulaResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComputationFormula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComputationFormulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteComputationFormulaResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxPersonalEstekhdamTypeWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fieldName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="PersonalId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="tarikh" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxPersonalEstekhdamTypeWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetMaxPersonalEstekhdamTypeWithFilterResult" type="tns:ArrayOfOBJ_MaxPersonalEstekhdamType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_MaxPersonalEstekhdamType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_MaxPersonalEstekhdamType" nillable="true" type="tns:OBJ_MaxPersonalEstekhdamType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_MaxPersonalEstekhdamType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldAnvaEstekhdamId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldNoeEstekhdamId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTarikh" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetItems_EstekhdamWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NoeEstekhdam" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="HokmId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems_EstekhdamWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetItems_EstekhdamWithFilterResult" type="tns:ArrayOfOBJ_Items_Estekhdam" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Items_Estekhdam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Items_Estekhdam" nillable="true" type="tns:OBJ_Items_Estekhdam" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_Items_Estekhdam">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldItemsHoghughiId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTypeEstekhdamId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldHasZarib" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldHasZaribstring" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitleItemsHoghughi" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTypeEstekhdamTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMablagh" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldZarib" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameEN" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateItems_Estekhdam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItems_EstekhdamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateItems_EstekhdamResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeEstekhdamWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeEstekhdamWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTypeEstekhdamWithFilterResult" type="tns:ArrayOfOBJ_TypeEstekhdam" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_TypeEstekhdam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_TypeEstekhdam" nillable="true" type="tns:OBJ_TypeEstekhdam" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_TypeEstekhdam">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDiffDayMahSalWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="rozCount" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiffDayMahSalWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDiffDayMahSalWithFilterResult" type="tns:ArrayOfOBJ_DiffDayMahSal" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_DiffDayMahSal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_DiffDayMahSal" nillable="true" type="tns:OBJ_DiffDayMahSal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_DiffDayMahSal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountString" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetDiffDayMahSalNumberWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="rozCount" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiffDayMahSalNumberWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDiffDayMahSalNumberWithFilterResult" type="tns:ArrayOfOBJ_DiffDayMahSal" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeEstekhdam_FormulWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeEstekhdam_FormulWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTypeEstekhdam_FormulWithFilterResult" type="tns:ArrayOfOBJ_TypeEstekhdam_Formul" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_TypeEstekhdam_Formul">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_TypeEstekhdam_Formul" nillable="true" type="tns:OBJ_TypeEstekhdam_Formul" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_TypeEstekhdam_Formul">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetTypeEstekhdam_FormulDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeEstekhdam_FormulDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTypeEstekhdam_FormulDetailResult" type="tns:OBJ_TypeEstekhdam_Formul" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnvaEstekhdamWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnvaEstekhdamWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAnvaEstekhdamWithFilterResult" type="tns:ArrayOfOBJ_AnvaEstekhdam" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_AnvaEstekhdam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_AnvaEstekhdam" nillable="true" type="tns:OBJ_AnvaEstekhdam" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_AnvaEstekhdam">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitleNoeEstekhdam" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldNoeEstekhdamId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldPatternNoeEstekhdamId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitlePattern" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTypeEstekhdamFormul" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAnvaEstekhdamDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnvaEstekhdamDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAnvaEstekhdamDetailResult" type="tns:OBJ_AnvaEstekhdam" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAnvaEstekhdam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="NoeEstekhdamId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldPatternNoeEstekhdamId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldTypeEstekhdamFormul" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAnvaEstekhdamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertAnvaEstekhdamResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnvaEstekhdam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="NoeEstekhdamId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldPatternNoeEstekhdamId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldTypeEstekhdamFormul" nillable="true" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnvaEstekhdamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateAnvaEstekhdamResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnvaEstekhdam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnvaEstekhdamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteAnvaEstekhdamResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsHoghughiWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsHoghughiWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetItemsHoghughiWithFilterResult" type="tns:ArrayOfOBJ_ItemsHoghughi" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_ItemsHoghughi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_ItemsHoghughi" nillable="true" type="tns:OBJ_ItemsHoghughi" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_ItemsHoghughi">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameEN" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldType" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTypeHesabId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitleHesab" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMostamar" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldMostamarName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateItemsHoghughi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="TypeHesabId" type="xs:unsignedByte" />
        <xs:element minOccurs="1" maxOccurs="1" name="Mostamar" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="organId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemsHoghughiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateItemsHoghughiResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeBimeWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeBimeWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTypeBimeWithFilterResult" type="tns:ArrayOfOBJ_TypeBime" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_TypeBime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_TypeBime" nillable="true" type="tns:OBJ_TypeBime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_TypeBime">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetItemsEstekhdam_FiscalTitleWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NoeEstekhdam" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="FiscalHeaderId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsEstekhdam_FiscalTitleWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetItemsEstekhdam_FiscalTitleWithFilterResult" type="tns:ArrayOfOBJ_ItemsEstekhdam_FiscalTitle" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_ItemsEstekhdam_FiscalTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_ItemsEstekhdam_FiscalTitle" nillable="true" type="tns:OBJ_ItemsEstekhdam_FiscalTitle" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_ItemsEstekhdam_FiscalTitle">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldItemsHoghughiId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldTypeEstekhdamId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldHasZarib" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldHasZaribName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitleItemsHoghughi" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="flAnvaEstekhdamId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldAnvaEstekhdamTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldMashmul" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStatusWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetStatusWithFilterResult" type="tns:ArrayOfOBJ_Status" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Status">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Status" nillable="true" type="tns:OBJ_Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OBJ_Status">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonalStatusDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalStatusDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPersonalStatusDetailResult" type="tns:OBJ_PersonalStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_PersonalStatus">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldStatusId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldPrsPersonalInfoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldPayPersonalInfoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDateTaghirVaziyat" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonalStatusWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalStatusWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPersonalStatusWithFilterResult" type="tns:ArrayOfOBJ_PersonalStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_PersonalStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_PersonalStatus" nillable="true" type="tns:OBJ_PersonalStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertPersonalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="StatusId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="PrsPersonalInfoId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="PayPersonalInfoId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="DateTaghirVaziyat" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPersonalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertPersonalStatusResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="StatusId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="PrsPersonalInfoId" nillable="true" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="PayPersonalInfoId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="DateTaghirVaziyat" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdatePersonalStatusResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeletePersonalStatusResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>