NewFMS/Web References/WCF_Common_Pay/Comon_PayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Comon_PayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.33:8096/Comon_PayService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComon_PayService_GetComputationFormulaDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputationFormulaDetail" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetComputationFormulaDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputationFormulaDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetComputationFormulaWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComputationFormulaWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetComputationFormulaWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComputationFormulaWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_InsertComputationFormula_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertComputationFormula" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_InsertComputationFormula_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertComputationFormulaResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdateComputationFormula_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComputationFormula" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdateComputationFormula_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateComputationFormulaResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_DeleteComputationFormula_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComputationFormula" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_DeleteComputationFormula_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComputationFormulaResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetMaxPersonalEstekhdamTypeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxPersonalEstekhdamTypeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetMaxPersonalEstekhdamTypeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxPersonalEstekhdamTypeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetItems_EstekhdamWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems_EstekhdamWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetItems_EstekhdamWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItems_EstekhdamWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdateItems_Estekhdam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItems_Estekhdam" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdateItems_Estekhdam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItems_EstekhdamResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetTypeEstekhdamWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeEstekhdamWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetTypeEstekhdamWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeEstekhdamWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetDiffDayMahSalWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDiffDayMahSalWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetDiffDayMahSalWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDiffDayMahSalWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetDiffDayMahSalNumberWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDiffDayMahSalNumberWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetDiffDayMahSalNumberWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDiffDayMahSalNumberWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetTypeEstekhdam_FormulWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeEstekhdam_FormulWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetTypeEstekhdam_FormulWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeEstekhdam_FormulWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetTypeEstekhdam_FormulDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeEstekhdam_FormulDetail" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetTypeEstekhdam_FormulDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeEstekhdam_FormulDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetAnvaEstekhdamWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnvaEstekhdamWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetAnvaEstekhdamWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnvaEstekhdamWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetAnvaEstekhdamDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnvaEstekhdamDetail" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetAnvaEstekhdamDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnvaEstekhdamDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_InsertAnvaEstekhdam_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnvaEstekhdam" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_InsertAnvaEstekhdam_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnvaEstekhdamResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdateAnvaEstekhdam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnvaEstekhdam" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdateAnvaEstekhdam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnvaEstekhdamResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_DeleteAnvaEstekhdam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnvaEstekhdam" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_DeleteAnvaEstekhdam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnvaEstekhdamResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetItemsHoghughiWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsHoghughiWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetItemsHoghughiWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsHoghughiWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdateItemsHoghughi_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemsHoghughi" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdateItemsHoghughi_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemsHoghughiResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetTypeBimeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeBimeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetTypeBimeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeBimeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetItemsEstekhdam_FiscalTitleWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsEstekhdam_FiscalTitleWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetItemsEstekhdam_FiscalTitleWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsEstekhdam_FiscalTitleWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetStatusWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetStatusWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetPersonalStatusDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalStatusDetail" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetPersonalStatusDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalStatusDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetPersonalStatusWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalStatusWithFilter" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_GetPersonalStatusWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalStatusWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_InsertPersonalStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPersonalStatus" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_InsertPersonalStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPersonalStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdatePersonalStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalStatus" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_UpdatePersonalStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonalStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_DeletePersonalStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonalStatus" />
  </wsdl:message>
  <wsdl:message name="IComon_PayService_DeletePersonalStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonalStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IComon_PayService">
    <wsdl:operation name="GetComputationFormulaDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetComputationFormulaDetail" message="tns:IComon_PayService_GetComputationFormulaDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetComputationFormulaDetailResponse" message="tns:IComon_PayService_GetComputationFormulaDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComputationFormulaWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetComputationFormulaWithFilter" message="tns:IComon_PayService_GetComputationFormulaWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetComputationFormulaWithFilterResponse" message="tns:IComon_PayService_GetComputationFormulaWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertComputationFormula">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/InsertComputationFormula" message="tns:IComon_PayService_InsertComputationFormula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/InsertComputationFormulaResponse" message="tns:IComon_PayService_InsertComputationFormula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateComputationFormula">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/UpdateComputationFormula" message="tns:IComon_PayService_UpdateComputationFormula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/UpdateComputationFormulaResponse" message="tns:IComon_PayService_UpdateComputationFormula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComputationFormula">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/DeleteComputationFormula" message="tns:IComon_PayService_DeleteComputationFormula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/DeleteComputationFormulaResponse" message="tns:IComon_PayService_DeleteComputationFormula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxPersonalEstekhdamTypeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetMaxPersonalEstekhdamTypeWithFilter" message="tns:IComon_PayService_GetMaxPersonalEstekhdamTypeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetMaxPersonalEstekhdamTypeWithFilterResponse" message="tns:IComon_PayService_GetMaxPersonalEstekhdamTypeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems_EstekhdamWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetItems_EstekhdamWithFilter" message="tns:IComon_PayService_GetItems_EstekhdamWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetItems_EstekhdamWithFilterResponse" message="tns:IComon_PayService_GetItems_EstekhdamWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItems_Estekhdam">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/UpdateItems_Estekhdam" message="tns:IComon_PayService_UpdateItems_Estekhdam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/UpdateItems_EstekhdamResponse" message="tns:IComon_PayService_UpdateItems_Estekhdam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeEstekhdamWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetTypeEstekhdamWithFilter" message="tns:IComon_PayService_GetTypeEstekhdamWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetTypeEstekhdamWithFilterResponse" message="tns:IComon_PayService_GetTypeEstekhdamWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDiffDayMahSalWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetDiffDayMahSalWithFilter" message="tns:IComon_PayService_GetDiffDayMahSalWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetDiffDayMahSalWithFilterResponse" message="tns:IComon_PayService_GetDiffDayMahSalWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDiffDayMahSalNumberWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetDiffDayMahSalNumberWithFilter" message="tns:IComon_PayService_GetDiffDayMahSalNumberWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetDiffDayMahSalNumberWithFilterResponse" message="tns:IComon_PayService_GetDiffDayMahSalNumberWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeEstekhdam_FormulWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetTypeEstekhdam_FormulWithFilter" message="tns:IComon_PayService_GetTypeEstekhdam_FormulWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetTypeEstekhdam_FormulWithFilterResponse" message="tns:IComon_PayService_GetTypeEstekhdam_FormulWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeEstekhdam_FormulDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetTypeEstekhdam_FormulDetail" message="tns:IComon_PayService_GetTypeEstekhdam_FormulDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetTypeEstekhdam_FormulDetailResponse" message="tns:IComon_PayService_GetTypeEstekhdam_FormulDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnvaEstekhdamWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetAnvaEstekhdamWithFilter" message="tns:IComon_PayService_GetAnvaEstekhdamWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetAnvaEstekhdamWithFilterResponse" message="tns:IComon_PayService_GetAnvaEstekhdamWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnvaEstekhdamDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetAnvaEstekhdamDetail" message="tns:IComon_PayService_GetAnvaEstekhdamDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetAnvaEstekhdamDetailResponse" message="tns:IComon_PayService_GetAnvaEstekhdamDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAnvaEstekhdam">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/InsertAnvaEstekhdam" message="tns:IComon_PayService_InsertAnvaEstekhdam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/InsertAnvaEstekhdamResponse" message="tns:IComon_PayService_InsertAnvaEstekhdam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnvaEstekhdam">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/UpdateAnvaEstekhdam" message="tns:IComon_PayService_UpdateAnvaEstekhdam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/UpdateAnvaEstekhdamResponse" message="tns:IComon_PayService_UpdateAnvaEstekhdam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnvaEstekhdam">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/DeleteAnvaEstekhdam" message="tns:IComon_PayService_DeleteAnvaEstekhdam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/DeleteAnvaEstekhdamResponse" message="tns:IComon_PayService_DeleteAnvaEstekhdam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsHoghughiWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetItemsHoghughiWithFilter" message="tns:IComon_PayService_GetItemsHoghughiWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetItemsHoghughiWithFilterResponse" message="tns:IComon_PayService_GetItemsHoghughiWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemsHoghughi">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/UpdateItemsHoghughi" message="tns:IComon_PayService_UpdateItemsHoghughi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/UpdateItemsHoghughiResponse" message="tns:IComon_PayService_UpdateItemsHoghughi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeBimeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetTypeBimeWithFilter" message="tns:IComon_PayService_GetTypeBimeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetTypeBimeWithFilterResponse" message="tns:IComon_PayService_GetTypeBimeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsEstekhdam_FiscalTitleWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetItemsEstekhdam_FiscalTitleWithFilter" message="tns:IComon_PayService_GetItemsEstekhdam_FiscalTitleWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetItemsEstekhdam_FiscalTitleWithFilterResponse" message="tns:IComon_PayService_GetItemsEstekhdam_FiscalTitleWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetStatusWithFilter" message="tns:IComon_PayService_GetStatusWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetStatusWithFilterResponse" message="tns:IComon_PayService_GetStatusWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalStatusDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetPersonalStatusDetail" message="tns:IComon_PayService_GetPersonalStatusDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetPersonalStatusDetailResponse" message="tns:IComon_PayService_GetPersonalStatusDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalStatusWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/GetPersonalStatusWithFilter" message="tns:IComon_PayService_GetPersonalStatusWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/GetPersonalStatusWithFilterResponse" message="tns:IComon_PayService_GetPersonalStatusWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPersonalStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/InsertPersonalStatus" message="tns:IComon_PayService_InsertPersonalStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/InsertPersonalStatusResponse" message="tns:IComon_PayService_InsertPersonalStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/UpdatePersonalStatus" message="tns:IComon_PayService_UpdatePersonalStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/UpdatePersonalStatusResponse" message="tns:IComon_PayService_UpdatePersonalStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonalStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IComon_PayService/DeletePersonalStatus" message="tns:IComon_PayService_DeletePersonalStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComon_PayService/DeletePersonalStatusResponse" message="tns:IComon_PayService_DeletePersonalStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComon_PayService" type="tns:IComon_PayService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComputationFormulaDetail">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetComputationFormulaDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComputationFormulaWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetComputationFormulaWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertComputationFormula">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/InsertComputationFormula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateComputationFormula">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/UpdateComputationFormula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComputationFormula">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/DeleteComputationFormula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxPersonalEstekhdamTypeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetMaxPersonalEstekhdamTypeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems_EstekhdamWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetItems_EstekhdamWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItems_Estekhdam">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/UpdateItems_Estekhdam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeEstekhdamWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetTypeEstekhdamWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDiffDayMahSalWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetDiffDayMahSalWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDiffDayMahSalNumberWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetDiffDayMahSalNumberWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeEstekhdam_FormulWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetTypeEstekhdam_FormulWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeEstekhdam_FormulDetail">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetTypeEstekhdam_FormulDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnvaEstekhdamWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetAnvaEstekhdamWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnvaEstekhdamDetail">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetAnvaEstekhdamDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAnvaEstekhdam">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/InsertAnvaEstekhdam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnvaEstekhdam">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/UpdateAnvaEstekhdam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnvaEstekhdam">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/DeleteAnvaEstekhdam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsHoghughiWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetItemsHoghughiWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemsHoghughi">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/UpdateItemsHoghughi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeBimeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetTypeBimeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsEstekhdam_FiscalTitleWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetItemsEstekhdam_FiscalTitleWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetStatusWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalStatusDetail">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetPersonalStatusDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalStatusWithFilter">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/GetPersonalStatusWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPersonalStatus">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/InsertPersonalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonalStatus">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/UpdatePersonalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonalStatus">
      <soap:operation soapAction="http://tempuri.org/IComon_PayService/DeletePersonalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Comon_PayService">
    <wsdl:port name="BasicHttpBinding_IComon_PayService" binding="tns:BasicHttpBinding_IComon_PayService">
      <soap:address location="http://192.168.1.33:8096/Comon_PayService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>