NewFMS/Web References/RasaKhazane/KhazaneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReciveFish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FishId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hesab" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FishDetail" type="tns:ArrayOfFishDetial" />
            <s:element minOccurs="0" maxOccurs="1" name="MoadyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MoadyFamily" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MoadyCodeMeli" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MablaghFish" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="MablaghGerdShode" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFishDetial">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FishDetial" nillable="true" type="tns:FishDetial" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FishDetial">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="radif" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeHesab" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Mablagh" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReciveFishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReciveFishResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReciveCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Checks" type="tns:Checks" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Checks">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Bank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShenaseBank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shobe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShobeAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeShobe" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Mablagh" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="TarikhVosol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Babat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HesabDaramadi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Family" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeMeli" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeShakhs" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="checkDetail" type="tns:ArrayOfCheckDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCheckDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CheckDetail" nillable="true" type="tns:CheckDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CheckDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodeHesab" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Mablagh" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReciveCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReciveCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadCodeHesab">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadCodeHesabResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadCodeHesabResult" type="tns:ArrayOfSp_tblSarfasMoinSelect" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSp_tblSarfasMoinSelect">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sp_tblSarfasMoinSelect" nillable="true" type="tns:Sp_tblSarfasMoinSelect" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sp_tblSarfasMoinSelect">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fldSafaslMoinId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fldOnvanHesab" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fldGroupId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fldSarfaslId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fldMoinId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fldTafsiliId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fldTafsiliId1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fldTafsiliId2" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReciveFishSoapIn">
    <wsdl:part name="parameters" element="tns:ReciveFish" />
  </wsdl:message>
  <wsdl:message name="ReciveFishSoapOut">
    <wsdl:part name="parameters" element="tns:ReciveFishResponse" />
  </wsdl:message>
  <wsdl:message name="ReciveCheckSoapIn">
    <wsdl:part name="parameters" element="tns:ReciveCheck" />
  </wsdl:message>
  <wsdl:message name="ReciveCheckSoapOut">
    <wsdl:part name="parameters" element="tns:ReciveCheckResponse" />
  </wsdl:message>
  <wsdl:message name="LoadCodeHesabSoapIn">
    <wsdl:part name="parameters" element="tns:LoadCodeHesab" />
  </wsdl:message>
  <wsdl:message name="LoadCodeHesabSoapOut">
    <wsdl:part name="parameters" element="tns:LoadCodeHesabResponse" />
  </wsdl:message>
  <wsdl:portType name="KhazaneServiceSoap">
    <wsdl:operation name="ReciveFish">
      <wsdl:input message="tns:ReciveFishSoapIn" />
      <wsdl:output message="tns:ReciveFishSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReciveCheck">
      <wsdl:input message="tns:ReciveCheckSoapIn" />
      <wsdl:output message="tns:ReciveCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadCodeHesab">
      <wsdl:input message="tns:LoadCodeHesabSoapIn" />
      <wsdl:output message="tns:LoadCodeHesabSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KhazaneServiceSoap" type="tns:KhazaneServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReciveFish">
      <soap:operation soapAction="http://tempuri.org/ReciveFish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReciveCheck">
      <soap:operation soapAction="http://tempuri.org/ReciveCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCodeHesab">
      <soap:operation soapAction="http://tempuri.org/LoadCodeHesab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KhazaneServiceSoap12" type="tns:KhazaneServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReciveFish">
      <soap12:operation soapAction="http://tempuri.org/ReciveFish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReciveCheck">
      <soap12:operation soapAction="http://tempuri.org/ReciveCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCodeHesab">
      <soap12:operation soapAction="http://tempuri.org/LoadCodeHesab" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KhazaneService">
    <wsdl:port name="KhazaneServiceSoap" binding="tns:KhazaneServiceSoap">
      <soap:address location="http://localhost:1461/KhazaneService.asmx" />
    </wsdl:port>
    <wsdl:port name="KhazaneServiceSoap12" binding="tns:KhazaneServiceSoap12">
      <soap12:address location="http://localhost:1461/KhazaneService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>