NewFMS/Web References/WCF_Deceased/DeceasedService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeceasedService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.33:8096/DeceasedService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeceasedService_DeleteKartabl_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKartabl_Request" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteKartabl_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKartabl_RequestResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_SelectTimeLine_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTimeLine" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_SelectTimeLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTimeLineResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetCauseOfDeathDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCauseOfDeathDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetCauseOfDeathDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCauseOfDeathDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetCauseOfDeathWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCauseOfDeathWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetCauseOfDeathWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCauseOfDeathWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertCauseOfDeath_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCauseOfDeath" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertCauseOfDeath_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCauseOfDeathResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateCauseOfDeath_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCauseOfDeath" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateCauseOfDeath_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCauseOfDeathResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteCauseOfDeath_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCauseOfDeath" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteCauseOfDeath_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCauseOfDeathResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetVadiSalamDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVadiSalamDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetVadiSalamDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVadiSalamDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetVadiSalamWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVadiSalamWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetVadiSalamWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVadiSalamWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertVadiSalam_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVadiSalam" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertVadiSalam_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVadiSalamResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateVadiSalam_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVadiSalam" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateVadiSalam_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVadiSalamResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteVadiSalam_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVadiSalam" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteVadiSalam_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVadiSalamResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetGheteDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGheteDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetGheteDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGheteDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetGheteWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGheteWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetGheteWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGheteWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertGhete_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGhete" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertGhete_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGheteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateGhete_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGhete" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateGhete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGheteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteGhete_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGhete" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteGhete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGheteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateGheteKhali_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGheteKhali" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateGheteKhali_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGheteKhaliResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_SelectGheteDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectGheteDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_SelectGheteDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectGheteDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteAllTablesOnGhete_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllTablesOnGhete" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteAllTablesOnGhete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllTablesOnGheteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateTedadTabaghat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTedadTabaghat" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateTedadTabaghat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTedadTabaghatResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetRadifDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRadifDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetRadifDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRadifDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetRadifWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRadifWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetRadifWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRadifWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertRadif_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRadif" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertRadif_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRadifResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateRadif_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRadif" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateRadif_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRadifResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteRadif_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRadif" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteRadif_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRadifResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetShomareDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShomareDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetShomareDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShomareDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetShomareWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShomareWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetShomareWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShomareWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertShomare_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertShomare" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertShomare_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertShomareResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateShomare_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShomare" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateShomare_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShomareResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteShomare_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShomare" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteShomare_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShomareResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_SelectTabaghe_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTabaghe" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_SelectTabaghe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTabagheResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetGhabreAmanatDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGhabreAmanatDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetGhabreAmanatDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGhabreAmanatDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetGhabreAmanatWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGhabreAmanatWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetGhabreAmanatWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGhabreAmanatWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertGhabreAmanat_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGhabreAmanat" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertGhabreAmanat_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGhabreAmanatResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateGhabreAmanat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGhabreAmanat" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateGhabreAmanat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGhabreAmanatResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteGhabreAmanat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGhabreAmanat" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteGhabreAmanat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGhabreAmanatResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_RptGhabrPor_Khali_InputMessage">
    <wsdl:part name="parameters" element="tns:RptGhabrPor_Khali" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_RptGhabrPor_Khali_OutputMessage">
    <wsdl:part name="parameters" element="tns:RptGhabrPor_KhaliResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_SelectInfoEmployeeInGhabrAmanat_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectInfoEmployeeInGhabrAmanat" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_SelectInfoEmployeeInGhabrAmanat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectInfoEmployeeInGhabrAmanatResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetMotevaffaDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotevaffaDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetMotevaffaDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotevaffaDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetMotevaffaWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotevaffaWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetMotevaffaWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotevaffaWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertMotevaffa_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMotevaffa" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertMotevaffa_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMotevaffaResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateMotevaffa_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMotevaffa" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateMotevaffa_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMotevaffaResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteMotevaffa_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMotevaffa" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteMotevaffa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMotevaffaResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetMahalFotDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMahalFotDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetMahalFotDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMahalFotDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetMahalFotWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMahalFotWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetMahalFotWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMahalFotWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertMahalFot_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMahalFot" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertMahalFot_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMahalFotResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateMahalFot_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMahalFot" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateMahalFot_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMahalFotResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteMahalFot_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMahalFot" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteMahalFot_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMahalFotResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertEmploye_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmploye" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertEmploye_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetCodeDaramadAramestanDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeDaramadAramestanDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetCodeDaramadAramestanDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeDaramadAramestanDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetCodeDaramadAramestanWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeDaramadAramestanWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetCodeDaramadAramestanWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodeDaramadAramestanWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertCodeDaramadAramestan_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCodeDaramadAramestan" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertCodeDaramadAramestan_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCodeDaramadAramestanResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateCodeDaramadAramestan_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodeDaramadAramestan" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateCodeDaramadAramestan_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCodeDaramadAramestanResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteCodeDaramadAramestan_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodeDaramadAramestan" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteCodeDaramadAramestan_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCodeDaramadAramestanResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetActionsDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActionsDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetActionsDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActionsDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetActionsWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActionsWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetActionsWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActionsWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertActions_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertActions" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateActions_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActions" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteActions_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteActions" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetKartablDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKartablDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetKartablDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKartablDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetKartablWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKartablWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetKartablWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKartablWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertKartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertKartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateKartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateKartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteKartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteKartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateOrderKartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderKartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateOrderKartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderKartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetAction_KartablDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAction_KartablDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetAction_KartablDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAction_KartablDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetAction_KartablWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAction_KartablWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetAction_KartablWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAction_KartablWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertAction_Kartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAction_Kartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertAction_Kartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAction_KartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateAction_Kartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAction_Kartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateAction_Kartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAction_KartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteAction_Kartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAction_Kartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteAction_Kartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAction_KartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetNextKartablDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextKartablDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetNextKartablDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextKartablDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetNextKartablWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextKartablWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetNextKartablWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextKartablWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertNextKartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNextKartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertNextKartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNextKartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateNextKartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNextKartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateNextKartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNextKartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteNextKartabl_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNextKartabl" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteNextKartabl_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNextKartablResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetRequestAmanatDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestAmanatDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetRequestAmanatDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestAmanatDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetRequestAmanatWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestAmanatWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetRequestAmanatWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestAmanatWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertRequestAmanat_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRequestAmanat" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertRequestAmanat_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRequestAmanatResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateRequestAmanat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestAmanat" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateRequestAmanat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestAmanatResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteRequestAmanat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRequestAmanat" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_DeleteRequestAmanat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRequestAmanatResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateRequestForEbtal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestForEbtal" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateRequestForEbtal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestForEbtalResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateEtmamCharkhe_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEtmamCharkhe" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateEtmamCharkhe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEtmamCharkheResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetKartabl_RequestDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKartabl_RequestDetail" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetKartabl_RequestDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKartabl_RequestDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetKartabl_RequestWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKartabl_RequestWithFilter" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_GetKartabl_RequestWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKartabl_RequestWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertKartabl_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKartabl_Request" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_InsertKartabl_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKartabl_RequestResponse" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateKartabl_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKartabl_Request" />
  </wsdl:message>
  <wsdl:message name="IDeceasedService_UpdateKartabl_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKartabl_RequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeceasedService">
    <wsdl:operation name="DeleteKartabl_Request">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteKartabl_Request" message="tns:IDeceasedService_DeleteKartabl_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteKartabl_RequestResponse" message="tns:IDeceasedService_DeleteKartabl_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTimeLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/SelectTimeLine" message="tns:IDeceasedService_SelectTimeLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/SelectTimeLineResponse" message="tns:IDeceasedService_SelectTimeLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCauseOfDeathDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetCauseOfDeathDetail" message="tns:IDeceasedService_GetCauseOfDeathDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetCauseOfDeathDetailResponse" message="tns:IDeceasedService_GetCauseOfDeathDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCauseOfDeathWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetCauseOfDeathWithFilter" message="tns:IDeceasedService_GetCauseOfDeathWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetCauseOfDeathWithFilterResponse" message="tns:IDeceasedService_GetCauseOfDeathWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCauseOfDeath">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertCauseOfDeath" message="tns:IDeceasedService_InsertCauseOfDeath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertCauseOfDeathResponse" message="tns:IDeceasedService_InsertCauseOfDeath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCauseOfDeath">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateCauseOfDeath" message="tns:IDeceasedService_UpdateCauseOfDeath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateCauseOfDeathResponse" message="tns:IDeceasedService_UpdateCauseOfDeath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCauseOfDeath">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteCauseOfDeath" message="tns:IDeceasedService_DeleteCauseOfDeath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteCauseOfDeathResponse" message="tns:IDeceasedService_DeleteCauseOfDeath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVadiSalamDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetVadiSalamDetail" message="tns:IDeceasedService_GetVadiSalamDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetVadiSalamDetailResponse" message="tns:IDeceasedService_GetVadiSalamDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVadiSalamWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetVadiSalamWithFilter" message="tns:IDeceasedService_GetVadiSalamWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetVadiSalamWithFilterResponse" message="tns:IDeceasedService_GetVadiSalamWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertVadiSalam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertVadiSalam" message="tns:IDeceasedService_InsertVadiSalam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertVadiSalamResponse" message="tns:IDeceasedService_InsertVadiSalam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVadiSalam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateVadiSalam" message="tns:IDeceasedService_UpdateVadiSalam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateVadiSalamResponse" message="tns:IDeceasedService_UpdateVadiSalam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVadiSalam">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteVadiSalam" message="tns:IDeceasedService_DeleteVadiSalam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteVadiSalamResponse" message="tns:IDeceasedService_DeleteVadiSalam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGheteDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetGheteDetail" message="tns:IDeceasedService_GetGheteDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetGheteDetailResponse" message="tns:IDeceasedService_GetGheteDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGheteWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetGheteWithFilter" message="tns:IDeceasedService_GetGheteWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetGheteWithFilterResponse" message="tns:IDeceasedService_GetGheteWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGhete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertGhete" message="tns:IDeceasedService_InsertGhete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertGheteResponse" message="tns:IDeceasedService_InsertGhete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGhete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateGhete" message="tns:IDeceasedService_UpdateGhete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateGheteResponse" message="tns:IDeceasedService_UpdateGhete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGhete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteGhete" message="tns:IDeceasedService_DeleteGhete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteGheteResponse" message="tns:IDeceasedService_DeleteGhete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGheteKhali">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateGheteKhali" message="tns:IDeceasedService_UpdateGheteKhali_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateGheteKhaliResponse" message="tns:IDeceasedService_UpdateGheteKhali_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectGheteDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/SelectGheteDetail" message="tns:IDeceasedService_SelectGheteDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/SelectGheteDetailResponse" message="tns:IDeceasedService_SelectGheteDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllTablesOnGhete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteAllTablesOnGhete" message="tns:IDeceasedService_DeleteAllTablesOnGhete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteAllTablesOnGheteResponse" message="tns:IDeceasedService_DeleteAllTablesOnGhete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTedadTabaghat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateTedadTabaghat" message="tns:IDeceasedService_UpdateTedadTabaghat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateTedadTabaghatResponse" message="tns:IDeceasedService_UpdateTedadTabaghat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRadifDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetRadifDetail" message="tns:IDeceasedService_GetRadifDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetRadifDetailResponse" message="tns:IDeceasedService_GetRadifDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRadifWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetRadifWithFilter" message="tns:IDeceasedService_GetRadifWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetRadifWithFilterResponse" message="tns:IDeceasedService_GetRadifWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRadif">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertRadif" message="tns:IDeceasedService_InsertRadif_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertRadifResponse" message="tns:IDeceasedService_InsertRadif_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRadif">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateRadif" message="tns:IDeceasedService_UpdateRadif_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateRadifResponse" message="tns:IDeceasedService_UpdateRadif_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRadif">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteRadif" message="tns:IDeceasedService_DeleteRadif_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteRadifResponse" message="tns:IDeceasedService_DeleteRadif_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShomareDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetShomareDetail" message="tns:IDeceasedService_GetShomareDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetShomareDetailResponse" message="tns:IDeceasedService_GetShomareDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShomareWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetShomareWithFilter" message="tns:IDeceasedService_GetShomareWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetShomareWithFilterResponse" message="tns:IDeceasedService_GetShomareWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertShomare">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertShomare" message="tns:IDeceasedService_InsertShomare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertShomareResponse" message="tns:IDeceasedService_InsertShomare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShomare">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateShomare" message="tns:IDeceasedService_UpdateShomare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateShomareResponse" message="tns:IDeceasedService_UpdateShomare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShomare">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteShomare" message="tns:IDeceasedService_DeleteShomare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteShomareResponse" message="tns:IDeceasedService_DeleteShomare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTabaghe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/SelectTabaghe" message="tns:IDeceasedService_SelectTabaghe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/SelectTabagheResponse" message="tns:IDeceasedService_SelectTabaghe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGhabreAmanatDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetGhabreAmanatDetail" message="tns:IDeceasedService_GetGhabreAmanatDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetGhabreAmanatDetailResponse" message="tns:IDeceasedService_GetGhabreAmanatDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGhabreAmanatWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetGhabreAmanatWithFilter" message="tns:IDeceasedService_GetGhabreAmanatWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetGhabreAmanatWithFilterResponse" message="tns:IDeceasedService_GetGhabreAmanatWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGhabreAmanat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertGhabreAmanat" message="tns:IDeceasedService_InsertGhabreAmanat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertGhabreAmanatResponse" message="tns:IDeceasedService_InsertGhabreAmanat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGhabreAmanat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateGhabreAmanat" message="tns:IDeceasedService_UpdateGhabreAmanat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateGhabreAmanatResponse" message="tns:IDeceasedService_UpdateGhabreAmanat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGhabreAmanat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteGhabreAmanat" message="tns:IDeceasedService_DeleteGhabreAmanat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteGhabreAmanatResponse" message="tns:IDeceasedService_DeleteGhabreAmanat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RptGhabrPor_Khali">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/RptGhabrPor_Khali" message="tns:IDeceasedService_RptGhabrPor_Khali_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/RptGhabrPor_KhaliResponse" message="tns:IDeceasedService_RptGhabrPor_Khali_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectInfoEmployeeInGhabrAmanat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/SelectInfoEmployeeInGhabrAmanat" message="tns:IDeceasedService_SelectInfoEmployeeInGhabrAmanat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/SelectInfoEmployeeInGhabrAmanatResponse" message="tns:IDeceasedService_SelectInfoEmployeeInGhabrAmanat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotevaffaDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetMotevaffaDetail" message="tns:IDeceasedService_GetMotevaffaDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetMotevaffaDetailResponse" message="tns:IDeceasedService_GetMotevaffaDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotevaffaWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetMotevaffaWithFilter" message="tns:IDeceasedService_GetMotevaffaWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetMotevaffaWithFilterResponse" message="tns:IDeceasedService_GetMotevaffaWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMotevaffa">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertMotevaffa" message="tns:IDeceasedService_InsertMotevaffa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertMotevaffaResponse" message="tns:IDeceasedService_InsertMotevaffa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMotevaffa">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateMotevaffa" message="tns:IDeceasedService_UpdateMotevaffa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateMotevaffaResponse" message="tns:IDeceasedService_UpdateMotevaffa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMotevaffa">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteMotevaffa" message="tns:IDeceasedService_DeleteMotevaffa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteMotevaffaResponse" message="tns:IDeceasedService_DeleteMotevaffa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMahalFotDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetMahalFotDetail" message="tns:IDeceasedService_GetMahalFotDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetMahalFotDetailResponse" message="tns:IDeceasedService_GetMahalFotDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMahalFotWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetMahalFotWithFilter" message="tns:IDeceasedService_GetMahalFotWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetMahalFotWithFilterResponse" message="tns:IDeceasedService_GetMahalFotWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMahalFot">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertMahalFot" message="tns:IDeceasedService_InsertMahalFot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertMahalFotResponse" message="tns:IDeceasedService_InsertMahalFot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMahalFot">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateMahalFot" message="tns:IDeceasedService_UpdateMahalFot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateMahalFotResponse" message="tns:IDeceasedService_UpdateMahalFot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMahalFot">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteMahalFot" message="tns:IDeceasedService_DeleteMahalFot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteMahalFotResponse" message="tns:IDeceasedService_DeleteMahalFot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmploye">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertEmploye" message="tns:IDeceasedService_InsertEmploye_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertEmployeResponse" message="tns:IDeceasedService_InsertEmploye_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeDaramadAramestanDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetCodeDaramadAramestanDetail" message="tns:IDeceasedService_GetCodeDaramadAramestanDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetCodeDaramadAramestanDetailResponse" message="tns:IDeceasedService_GetCodeDaramadAramestanDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodeDaramadAramestanWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetCodeDaramadAramestanWithFilter" message="tns:IDeceasedService_GetCodeDaramadAramestanWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetCodeDaramadAramestanWithFilterResponse" message="tns:IDeceasedService_GetCodeDaramadAramestanWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCodeDaramadAramestan">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertCodeDaramadAramestan" message="tns:IDeceasedService_InsertCodeDaramadAramestan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertCodeDaramadAramestanResponse" message="tns:IDeceasedService_InsertCodeDaramadAramestan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCodeDaramadAramestan">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateCodeDaramadAramestan" message="tns:IDeceasedService_UpdateCodeDaramadAramestan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateCodeDaramadAramestanResponse" message="tns:IDeceasedService_UpdateCodeDaramadAramestan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCodeDaramadAramestan">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteCodeDaramadAramestan" message="tns:IDeceasedService_DeleteCodeDaramadAramestan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteCodeDaramadAramestanResponse" message="tns:IDeceasedService_DeleteCodeDaramadAramestan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActionsDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetActionsDetail" message="tns:IDeceasedService_GetActionsDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetActionsDetailResponse" message="tns:IDeceasedService_GetActionsDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActionsWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetActionsWithFilter" message="tns:IDeceasedService_GetActionsWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetActionsWithFilterResponse" message="tns:IDeceasedService_GetActionsWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertActions" message="tns:IDeceasedService_InsertActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertActionsResponse" message="tns:IDeceasedService_InsertActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateActions" message="tns:IDeceasedService_UpdateActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateActionsResponse" message="tns:IDeceasedService_UpdateActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteActions" message="tns:IDeceasedService_DeleteActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteActionsResponse" message="tns:IDeceasedService_DeleteActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKartablDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetKartablDetail" message="tns:IDeceasedService_GetKartablDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetKartablDetailResponse" message="tns:IDeceasedService_GetKartablDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKartablWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetKartablWithFilter" message="tns:IDeceasedService_GetKartablWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetKartablWithFilterResponse" message="tns:IDeceasedService_GetKartablWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertKartabl" message="tns:IDeceasedService_InsertKartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertKartablResponse" message="tns:IDeceasedService_InsertKartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateKartabl" message="tns:IDeceasedService_UpdateKartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateKartablResponse" message="tns:IDeceasedService_UpdateKartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteKartabl" message="tns:IDeceasedService_DeleteKartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteKartablResponse" message="tns:IDeceasedService_DeleteKartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderKartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateOrderKartabl" message="tns:IDeceasedService_UpdateOrderKartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateOrderKartablResponse" message="tns:IDeceasedService_UpdateOrderKartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAction_KartablDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetAction_KartablDetail" message="tns:IDeceasedService_GetAction_KartablDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetAction_KartablDetailResponse" message="tns:IDeceasedService_GetAction_KartablDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAction_KartablWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetAction_KartablWithFilter" message="tns:IDeceasedService_GetAction_KartablWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetAction_KartablWithFilterResponse" message="tns:IDeceasedService_GetAction_KartablWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAction_Kartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertAction_Kartabl" message="tns:IDeceasedService_InsertAction_Kartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertAction_KartablResponse" message="tns:IDeceasedService_InsertAction_Kartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAction_Kartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateAction_Kartabl" message="tns:IDeceasedService_UpdateAction_Kartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateAction_KartablResponse" message="tns:IDeceasedService_UpdateAction_Kartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAction_Kartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteAction_Kartabl" message="tns:IDeceasedService_DeleteAction_Kartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteAction_KartablResponse" message="tns:IDeceasedService_DeleteAction_Kartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextKartablDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetNextKartablDetail" message="tns:IDeceasedService_GetNextKartablDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetNextKartablDetailResponse" message="tns:IDeceasedService_GetNextKartablDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextKartablWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetNextKartablWithFilter" message="tns:IDeceasedService_GetNextKartablWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetNextKartablWithFilterResponse" message="tns:IDeceasedService_GetNextKartablWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNextKartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertNextKartabl" message="tns:IDeceasedService_InsertNextKartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertNextKartablResponse" message="tns:IDeceasedService_InsertNextKartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNextKartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateNextKartabl" message="tns:IDeceasedService_UpdateNextKartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateNextKartablResponse" message="tns:IDeceasedService_UpdateNextKartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNextKartabl">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteNextKartabl" message="tns:IDeceasedService_DeleteNextKartabl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteNextKartablResponse" message="tns:IDeceasedService_DeleteNextKartabl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestAmanatDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetRequestAmanatDetail" message="tns:IDeceasedService_GetRequestAmanatDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetRequestAmanatDetailResponse" message="tns:IDeceasedService_GetRequestAmanatDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestAmanatWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetRequestAmanatWithFilter" message="tns:IDeceasedService_GetRequestAmanatWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetRequestAmanatWithFilterResponse" message="tns:IDeceasedService_GetRequestAmanatWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRequestAmanat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertRequestAmanat" message="tns:IDeceasedService_InsertRequestAmanat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertRequestAmanatResponse" message="tns:IDeceasedService_InsertRequestAmanat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestAmanat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateRequestAmanat" message="tns:IDeceasedService_UpdateRequestAmanat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateRequestAmanatResponse" message="tns:IDeceasedService_UpdateRequestAmanat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRequestAmanat">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/DeleteRequestAmanat" message="tns:IDeceasedService_DeleteRequestAmanat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/DeleteRequestAmanatResponse" message="tns:IDeceasedService_DeleteRequestAmanat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestForEbtal">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateRequestForEbtal" message="tns:IDeceasedService_UpdateRequestForEbtal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateRequestForEbtalResponse" message="tns:IDeceasedService_UpdateRequestForEbtal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEtmamCharkhe">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateEtmamCharkhe" message="tns:IDeceasedService_UpdateEtmamCharkhe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateEtmamCharkheResponse" message="tns:IDeceasedService_UpdateEtmamCharkhe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKartabl_RequestDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetKartabl_RequestDetail" message="tns:IDeceasedService_GetKartabl_RequestDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetKartabl_RequestDetailResponse" message="tns:IDeceasedService_GetKartabl_RequestDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKartabl_RequestWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/GetKartabl_RequestWithFilter" message="tns:IDeceasedService_GetKartabl_RequestWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/GetKartabl_RequestWithFilterResponse" message="tns:IDeceasedService_GetKartabl_RequestWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKartabl_Request">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/InsertKartabl_Request" message="tns:IDeceasedService_InsertKartabl_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/InsertKartabl_RequestResponse" message="tns:IDeceasedService_InsertKartabl_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKartabl_Request">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeceasedService/UpdateKartabl_Request" message="tns:IDeceasedService_UpdateKartabl_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeceasedService/UpdateKartabl_RequestResponse" message="tns:IDeceasedService_UpdateKartabl_Request_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeceasedService" type="tns:IDeceasedService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteKartabl_Request">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteKartabl_Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTimeLine">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/SelectTimeLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCauseOfDeathDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetCauseOfDeathDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCauseOfDeathWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetCauseOfDeathWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCauseOfDeath">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertCauseOfDeath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCauseOfDeath">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateCauseOfDeath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCauseOfDeath">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteCauseOfDeath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVadiSalamDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetVadiSalamDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVadiSalamWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetVadiSalamWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVadiSalam">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertVadiSalam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVadiSalam">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateVadiSalam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVadiSalam">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteVadiSalam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGheteDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetGheteDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGheteWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetGheteWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGhete">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertGhete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGhete">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateGhete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGhete">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteGhete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGheteKhali">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateGheteKhali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectGheteDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/SelectGheteDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllTablesOnGhete">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteAllTablesOnGhete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTedadTabaghat">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateTedadTabaghat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadifDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetRadifDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRadifWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetRadifWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRadif">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertRadif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRadif">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateRadif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRadif">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteRadif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShomareDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetShomareDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShomareWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetShomareWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertShomare">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertShomare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShomare">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateShomare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShomare">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteShomare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTabaghe">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/SelectTabaghe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGhabreAmanatDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetGhabreAmanatDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGhabreAmanatWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetGhabreAmanatWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGhabreAmanat">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertGhabreAmanat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGhabreAmanat">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateGhabreAmanat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGhabreAmanat">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteGhabreAmanat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RptGhabrPor_Khali">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/RptGhabrPor_Khali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectInfoEmployeeInGhabrAmanat">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/SelectInfoEmployeeInGhabrAmanat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotevaffaDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetMotevaffaDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotevaffaWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetMotevaffaWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMotevaffa">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertMotevaffa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMotevaffa">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateMotevaffa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMotevaffa">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteMotevaffa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMahalFotDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetMahalFotDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMahalFotWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetMahalFotWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMahalFot">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertMahalFot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMahalFot">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateMahalFot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMahalFot">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteMahalFot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmploye">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertEmploye" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeDaramadAramestanDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetCodeDaramadAramestanDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodeDaramadAramestanWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetCodeDaramadAramestanWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCodeDaramadAramestan">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertCodeDaramadAramestan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCodeDaramadAramestan">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateCodeDaramadAramestan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCodeDaramadAramestan">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteCodeDaramadAramestan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActionsDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetActionsDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActionsWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetActionsWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertActions">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateActions">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteActions">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKartablDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetKartablDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKartablWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetKartablWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertKartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateKartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteKartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderKartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateOrderKartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAction_KartablDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetAction_KartablDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAction_KartablWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetAction_KartablWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAction_Kartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertAction_Kartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAction_Kartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateAction_Kartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAction_Kartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteAction_Kartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextKartablDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetNextKartablDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextKartablWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetNextKartablWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNextKartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertNextKartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNextKartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateNextKartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNextKartabl">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteNextKartabl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestAmanatDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetRequestAmanatDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestAmanatWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetRequestAmanatWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequestAmanat">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertRequestAmanat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestAmanat">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateRequestAmanat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequestAmanat">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/DeleteRequestAmanat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestForEbtal">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateRequestForEbtal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEtmamCharkhe">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateEtmamCharkhe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKartabl_RequestDetail">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetKartabl_RequestDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKartabl_RequestWithFilter">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/GetKartabl_RequestWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKartabl_Request">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/InsertKartabl_Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKartabl_Request">
      <soap:operation soapAction="http://tempuri.org/IDeceasedService/UpdateKartabl_Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeceasedService">
    <wsdl:port name="BasicHttpBinding_IDeceasedService" binding="tns:BasicHttpBinding_IDeceasedService">
      <soap:address location="http://192.168.1.33:8096/DeceasedService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>