NewFMS/Web References/WCF_Archive/ArchiveService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArchiveService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.33:8096/ArchiveService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArchiveService_GetArchiveTreeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveTreeDetail" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetArchiveTreeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveTreeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetArchiveTreeWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveTreeWithFilter" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetArchiveTreeWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveTreeWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertArchiveTree_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertArchiveTree" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertArchiveTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertArchiveTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdateArchiveTree_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArchiveTree" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdateArchiveTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArchiveTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeleteArchiveTree_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArchiveTree" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeleteArchiveTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArchiveTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetArchiveTree_Module_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveTree_Module" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetArchiveTree_Module_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveTree_ModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetFileMojazDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileMojazDetail" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetFileMojazDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileMojazDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetFileMojazWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileMojazWithFilter" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetFileMojazWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileMojazWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertFileMojaz_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFileMojaz" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertFileMojaz_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFileMojazResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdateFileMojaz_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileMojaz" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdateFileMojaz_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileMojazResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeleteFileMojaz_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileMojaz" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeleteFileMojaz_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileMojazResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetParticularPropertiesDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticularPropertiesDetail" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetParticularPropertiesDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticularPropertiesDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetParticularPropertiesWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticularPropertiesWithFilter" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetParticularPropertiesWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticularPropertiesWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertParticularProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertParticularProperties" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertParticularProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertParticularPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdateParticularProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParticularProperties" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdateParticularProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParticularPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeleteParticularProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParticularProperties" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeleteParticularProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteParticularPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetPropertiesDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesDetail" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetPropertiesDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetPropertiesWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesWithFilter" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetPropertiesWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProperties" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdateProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProperties" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdateProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeleteProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProperties" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeleteProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetPropertiesValuesDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesValuesDetail" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetPropertiesValuesDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesValuesDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetPropertiesValuesWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesValuesWithFilter" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_GetPropertiesValuesWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesValuesWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertPropertiesValues_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPropertiesValues" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_InsertPropertiesValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPropertiesValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdatePropertiesValues_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertiesValues" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_UpdatePropertiesValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertiesValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeletePropertiesValues_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePropertiesValues" />
  </wsdl:message>
  <wsdl:message name="IArchiveService_DeletePropertiesValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePropertiesValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IArchiveService">
    <wsdl:operation name="GetArchiveTreeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetArchiveTreeDetail" message="tns:IArchiveService_GetArchiveTreeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetArchiveTreeDetailResponse" message="tns:IArchiveService_GetArchiveTreeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveTreeWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetArchiveTreeWithFilter" message="tns:IArchiveService_GetArchiveTreeWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetArchiveTreeWithFilterResponse" message="tns:IArchiveService_GetArchiveTreeWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertArchiveTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/InsertArchiveTree" message="tns:IArchiveService_InsertArchiveTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/InsertArchiveTreeResponse" message="tns:IArchiveService_InsertArchiveTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArchiveTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/UpdateArchiveTree" message="tns:IArchiveService_UpdateArchiveTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/UpdateArchiveTreeResponse" message="tns:IArchiveService_UpdateArchiveTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArchiveTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/DeleteArchiveTree" message="tns:IArchiveService_DeleteArchiveTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/DeleteArchiveTreeResponse" message="tns:IArchiveService_DeleteArchiveTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveTree_Module">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetArchiveTree_Module" message="tns:IArchiveService_GetArchiveTree_Module_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetArchiveTree_ModuleResponse" message="tns:IArchiveService_GetArchiveTree_Module_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileMojazDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetFileMojazDetail" message="tns:IArchiveService_GetFileMojazDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetFileMojazDetailResponse" message="tns:IArchiveService_GetFileMojazDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileMojazWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetFileMojazWithFilter" message="tns:IArchiveService_GetFileMojazWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetFileMojazWithFilterResponse" message="tns:IArchiveService_GetFileMojazWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFileMojaz">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/InsertFileMojaz" message="tns:IArchiveService_InsertFileMojaz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/InsertFileMojazResponse" message="tns:IArchiveService_InsertFileMojaz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFileMojaz">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/UpdateFileMojaz" message="tns:IArchiveService_UpdateFileMojaz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/UpdateFileMojazResponse" message="tns:IArchiveService_UpdateFileMojaz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFileMojaz">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/DeleteFileMojaz" message="tns:IArchiveService_DeleteFileMojaz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/DeleteFileMojazResponse" message="tns:IArchiveService_DeleteFileMojaz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParticularPropertiesDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetParticularPropertiesDetail" message="tns:IArchiveService_GetParticularPropertiesDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetParticularPropertiesDetailResponse" message="tns:IArchiveService_GetParticularPropertiesDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParticularPropertiesWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetParticularPropertiesWithFilter" message="tns:IArchiveService_GetParticularPropertiesWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetParticularPropertiesWithFilterResponse" message="tns:IArchiveService_GetParticularPropertiesWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertParticularProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/InsertParticularProperties" message="tns:IArchiveService_InsertParticularProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/InsertParticularPropertiesResponse" message="tns:IArchiveService_InsertParticularProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateParticularProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/UpdateParticularProperties" message="tns:IArchiveService_UpdateParticularProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/UpdateParticularPropertiesResponse" message="tns:IArchiveService_UpdateParticularProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteParticularProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/DeleteParticularProperties" message="tns:IArchiveService_DeleteParticularProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/DeleteParticularPropertiesResponse" message="tns:IArchiveService_DeleteParticularProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetPropertiesDetail" message="tns:IArchiveService_GetPropertiesDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetPropertiesDetailResponse" message="tns:IArchiveService_GetPropertiesDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetPropertiesWithFilter" message="tns:IArchiveService_GetPropertiesWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetPropertiesWithFilterResponse" message="tns:IArchiveService_GetPropertiesWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/InsertProperties" message="tns:IArchiveService_InsertProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/InsertPropertiesResponse" message="tns:IArchiveService_InsertProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/UpdateProperties" message="tns:IArchiveService_UpdateProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/UpdatePropertiesResponse" message="tns:IArchiveService_UpdateProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/DeleteProperties" message="tns:IArchiveService_DeleteProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/DeletePropertiesResponse" message="tns:IArchiveService_DeleteProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesValuesDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetPropertiesValuesDetail" message="tns:IArchiveService_GetPropertiesValuesDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetPropertiesValuesDetailResponse" message="tns:IArchiveService_GetPropertiesValuesDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesValuesWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/GetPropertiesValuesWithFilter" message="tns:IArchiveService_GetPropertiesValuesWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/GetPropertiesValuesWithFilterResponse" message="tns:IArchiveService_GetPropertiesValuesWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPropertiesValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/InsertPropertiesValues" message="tns:IArchiveService_InsertPropertiesValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/InsertPropertiesValuesResponse" message="tns:IArchiveService_InsertPropertiesValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePropertiesValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/UpdatePropertiesValues" message="tns:IArchiveService_UpdatePropertiesValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/UpdatePropertiesValuesResponse" message="tns:IArchiveService_UpdatePropertiesValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePropertiesValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IArchiveService/DeletePropertiesValues" message="tns:IArchiveService_DeletePropertiesValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArchiveService/DeletePropertiesValuesResponse" message="tns:IArchiveService_DeletePropertiesValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArchiveService" type="tns:IArchiveService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArchiveTreeDetail">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetArchiveTreeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveTreeWithFilter">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetArchiveTreeWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertArchiveTree">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/InsertArchiveTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArchiveTree">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/UpdateArchiveTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArchiveTree">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/DeleteArchiveTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveTree_Module">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetArchiveTree_Module" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileMojazDetail">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetFileMojazDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileMojazWithFilter">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetFileMojazWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFileMojaz">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/InsertFileMojaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFileMojaz">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/UpdateFileMojaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFileMojaz">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/DeleteFileMojaz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticularPropertiesDetail">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetParticularPropertiesDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticularPropertiesWithFilter">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetParticularPropertiesWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertParticularProperties">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/InsertParticularProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateParticularProperties">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/UpdateParticularProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteParticularProperties">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/DeleteParticularProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesDetail">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetPropertiesDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesWithFilter">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetPropertiesWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProperties">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/InsertProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProperties">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/UpdateProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProperties">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/DeleteProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesValuesDetail">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetPropertiesValuesDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesValuesWithFilter">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/GetPropertiesValuesWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPropertiesValues">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/InsertPropertiesValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePropertiesValues">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/UpdatePropertiesValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePropertiesValues">
      <soap:operation soapAction="http://tempuri.org/IArchiveService/DeletePropertiesValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArchiveService">
    <wsdl:port name="BasicHttpBinding_IArchiveService" binding="tns:BasicHttpBinding_IArchiveService">
      <soap:address location="http://192.168.1.33:8096/ArchiveService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>