NewFMS/Web References/WCF_Archive/ArchiveService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetArchiveTreeDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveTreeDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetArchiveTreeDetailResult" type="tns:OBJ_ArchiveTree" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_ArchiveTree">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldPID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldFileUpload" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldOrganId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldModuleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldMaduleName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClsError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Msg" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ErrorType" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutputId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="OutputId2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetArchiveTreeWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue2" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveTreeWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetArchiveTreeWithFilterResult" type="tns:ArrayOfOBJ_ArchiveTree" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_ArchiveTree">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_ArchiveTree" nillable="true" type="tns:OBJ_ArchiveTree" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertArchiveTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="PID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="FileUpload" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldModuleId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArchiveTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertArchiveTreeResult" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArchiveTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="PID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="FileUpload" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="fldModuleId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArchiveTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateArchiveTreeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchiveTree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArchiveTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteArchiveTreeResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveTree_Module">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ModuleId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveTree_ModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetArchiveTree_ModuleResult" type="tns:ArrayOfOBJ_ArchiveTree" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileMojazDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileMojazDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetFileMojazDetailResult" type="tns:OBJ_FileMojaz" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_FileMojaz">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldArchiveTreeId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldFormatFileId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldFormatName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldPassvand" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFileMojazWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileMojazWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetFileMojazWithFilterResult" type="tns:ArrayOfOBJ_FileMojaz" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_FileMojaz">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_FileMojaz" nillable="true" type="tns:OBJ_FileMojaz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertFileMojaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ArchiveTreeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="FormatFileId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFileMojazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertFileMojazResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileMojaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ArchiveTreeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="FormatFileId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileMojazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateFileMojazResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileMojaz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileMojazResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteFileMojazResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticularPropertiesDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticularPropertiesDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetParticularPropertiesDetailResult" type="tns:OBJ_ParticularProperties" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_ParticularProperties">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldArchiveTreeId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldPropertiesId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameFn" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetParticularPropertiesWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticularPropertiesWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetParticularPropertiesWithFilterResult" type="tns:ArrayOfOBJ_ParticularProperties" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_ParticularProperties">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_ParticularProperties" nillable="true" type="tns:OBJ_ParticularProperties" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertParticularProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ArchiveTreeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="PropertiesId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertParticularPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertParticularPropertiesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParticularProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ArchiveTreeId" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="PropertiesId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParticularPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateParticularPropertiesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParticularProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteParticularPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeleteParticularPropertiesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPropertiesDetailResult" type="tns:OBJ_Properties" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_Properties">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldType" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldFormulId" nillable="true" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameFn" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameEn" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTypeName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPropertiesWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPropertiesWithFilterResult" type="tns:ArrayOfOBJ_Properties" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_Properties">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_Properties" nillable="true" type="tns:OBJ_Properties" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="NameFn" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NameEn" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="FormulId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertPropertiesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="NameFn" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="NameEn" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="FormulId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdatePropertiesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeletePropertiesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesValuesDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesValuesDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPropertiesValuesDetailResult" type="tns:OBJ_PropertiesValues" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="OBJ_PropertiesValues">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="fldId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldParticularId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldValue" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldUserId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldDesc" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="fldDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldNameFn" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fldTitle" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPropertiesValuesWithFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="FieldName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FilterValue" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesValuesWithFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPropertiesValuesWithFilterResult" type="tns:ArrayOfOBJ_PropertiesValues" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOBJ_PropertiesValues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OBJ_PropertiesValues" nillable="true" type="tns:OBJ_PropertiesValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertPropertiesValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ParticularId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPropertiesValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="InsertPropertiesValuesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePropertiesValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="ParticularId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Desc" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePropertiesValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdatePropertiesValuesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePropertiesValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="Username" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="OrganId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="IP" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePropertiesValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DeletePropertiesValuesResult" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ClsError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>